;
; HVPull Example Config
;
[database]
dbname = helioviewer
user = helioviewer
pass = helioviewer

[directories]
working_dir = /mnt/data/hvpull
image_archive = /mnt/data/jp2

[network]
max_downloads = 2