.event-tree-container {
    border: 1px solid white;
    margin-top: 20px;
    padding:5px;
}
.event-tree {
    padding-top:2px;
}

.empty-branch {
    opacity: 0.5;
}

.event-branch {
}
.event-branch-head {
    display: flex; 
    align-items:center;
}
.event-branch-childrens {
    padding-left: 18px;
}
.event-branch-childrens-events {
    padding-left: 20px;
    color: purple;
}

.control-triangle{
    padding-bottom:3px;
    font-size:10px;
    min-width: 13px;
    cursor: pointer;
}

.hidden-kids {
    display:none;
}
