/* Tile layer accordions */
#tileLayerAccordion,
#eventLayerAccordion {
    margin: 0;
}

#TileLayerAccordion-Container,
#EventLayerAccordion-Container {
    margin-top: 2px;
    font-size: 10.5px;
}

.tile-accordion-header-left {
    float: left;
    line-height: 1.65em;
}

span.tile-accordion-header-right > span.accordion-header-divider,
span.event-accordion-header-right > span.accordion-header-divider {
    position: absolute;
    line-height: 1.5;
    left: 226px;
}

.dynaccordion-tab {
    cursor: pointer;
    margin-bottom: 0.50em;
}

.dynaccordion-cell {
    border: 1px solid #262424;
    font-size:13px;
    padding: 5px;
}

div.accordion-arrow {
    float:left;
    border:none;
}

.ui-accordion-header {
    height: 1.4em;
    width: 100%;
    padding: 0;
    margin: 0;
}
.ui-accordion-header .left {
    display: block;
    width: 55%;
    float: left;
    margin-top:2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ui-accordion-header .right {
    display: block;
    width: 35%;
    float: right;
    text-align: right;
}

/* TileLayerAccordion Styles */
div.layer-select-label {
    width:102px;
    float: left;
    color: white;
    margin: 2px 0px 0px 1px;
}
select.layer-select {
    width: 100px;
    border: 1px solid #5c5c5c;
    margin: 2px 0px 0px 1px;
    padding: 0;
}

.image-download-btn {
    margin-left: 223px;
    float: left;
    cursor: pointer;
}

/* EventLayerAccordion Styles */
.checkboxBtn {
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
}
.checkboxBtn:hover {
    color: #d18f61;
}


#TileLayerAccordion-Container .ui-widget-content,
#EventLayerAccordion-Container .ui-widget-content {
    background-image: none;
    background-color: transparent;
}

#TileLayerAccordion-Container .dynaccordion-section,
#EventLayerAccordion-Container .dynaccordion-section {
    margin: 0;
    padding: 0.55em 0.125em 0.1em 1em;
    background: -o-linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0));
    background: -moz-linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0));
    background: -webkit-linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0));
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0));
}

#TileLayerAccordion-Container .dynaccordion-cell,
#EventLayerAccordion-Container .dynaccordion-cell {
    border: none;
    padding: 0;
    margin: 0;
}

#TileLayerAccordion-Container .ui-accordion-header,
#EventLayerAccordion-Container .ui-accordion-header {
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: none;
}

.accordion-header {
    float: right;
    text-align: right;
    font-size: 0.75em;
}

#accordion-images .accordion-header {
    margin: 0.5em 0 0.5em 0.5em;
}

.accordion-header a {
    text-decoration: none;
}
.accordion-header .fa {
    padding-bottom: 0.22em;
}

#TileLayerAccordion-Container .opacity-slider-track.ui-widget-content {
    background-image: none;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid rgba(0,0,0,1);
}
#TileLayerAccordion-Container .opacity-slider-track {
    width:  9em;
    height: 4px;
}
#TileLayerAccordion-Container .opacity-slider-track > .ui-slider-handle {
    top:         -8px;
    margin-left: -6px;
    height:      16px;
    width:       8px;
    background-image: none;
    background-color: rgba(230,230,230,1);
    border: 2px solid rgba(0,0,0,1);
    -o-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border: 0.2em;
    border-radius: 0.2em;
    cursor: pointer;
    z-index: 2;
}

.content .layer-select-label {
    text-align: right;
    padding-right: 0.5em;
    font-weight: 500;
    font-size: 0.9em;
    color: rgba(255,255,255,0.8);
}

select.layer-select {
    width:  12em;
}

#vso-links a {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255,255,0,0.8);
    font-weight: 600;
    font-size: 1.1em;
    padding: 0.2em;
    display: block;
}
#vso-links a:hover {
    color: yellow;
    cursor: pointer;
}

#vso-start-date, #vso-end-date,
#sdo-start-date, #sdo-end-date {
    width: 7em;
}

#vso-links {
    text-align: center;
    margin-bottom: 1em;
}


#accordion-events .buttons {
    text-align: center;
}
#accordion-events .text-button {
    font-size: 0.75em;
    padding: 0.25em 0.5em;
    font-weight: 400;
    margin: 0 0.5em;
}


#vso-previews,
#sdo-previews {
    margin-top: 1.75em;
}
#vso-previews .header,
#sdo-previews .header {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
    padding: 0.25em 0;
    background: none;
    margin: 0.75em 0 0.5em 0;
    cursor: auto;
}
#vso-previews .header input[type=checkbox],
#sdo-previews .header input[type=checkbox] {
    margin-right: 0.5em;
    cursor: pointer;
}

#vso-previews .preview,
#sdo-previews .preview {
    width: 128px;
    height: auto;
    border: 1px solid rgba(255,255,255,0.2);
}
#vso-previews .preview.start,
#sdo-previews .preview.start {
    margin-right: 1em;
}

.image-info-dialog-btn:hover,
.image-download-btn:hover {
    color: yellow;
}