/* Tile layer accordions */
#tileLayerAccordion,
#eventLayerAccordion {
    margin: 0;
}

#TileLayerAccordion-Container,
#EventLayerAccordion-Container {
    margin-top: 2px;
    font-size: 10.5px;
}

span.tile-accordion-header-right > span.accordion-header-divider,
span.event-accordion-header-right > span.accordion-header-divider {
    position: absolute;
    line-height: 1.5;
    left: 226px;
}

.dynaccordion-tab {
    cursor: pointer;
}

.dynaccordion-cell {
    border: 1px solid #262424;
    font-size:13px;
    padding: 5px;
}

.layerManagerBtn.visible {
    background: url(../../resources/images/blackGlass/LayerManagerButton_Visibility_Visible.png) transparent;
    position: absolute;
    width: 20px;
    height: 12px;
    left: 234px;
    margin-top:2px;
 }
.layerManagerBtn.hidden {
    background: url(../../resources/images/blackGlass/LayerManagerButton_Visibility_Hidden.png) transparent;
    position: absolute;
    width: 20px;
    height: 12px;
    left: 234px;
    margin-top:2px;
 }

.dynaccordion-section {
    margin-bottom:2px;
}

.removeBtn, .labelsBtn {
    position: absolute;
    right: 10px;
}

.labelsBtn {
    background: url(../../resources/images/blackGlass/labels_visible_10x10.png) transparent;
    width: 10px;
    height: 10px;
    margin: 3px 3px 0 0;
}
.labelsBtn:hover {
    background: url(../../resources/images/blackGlass/labels_visible_hover_10x10.png) transparent;
}
.labelsBtn.hidden {
    background: url(../../resources/images/blackGlass/labels_hidden_10x10.png) transparent;
}
.labelsBtn.hidden:hover {
    background: url(../../resources/images/blackGlass/labels_hidden_hover_10x10.png) transparent;
}

div.accordion-arrow {
    float:left;
    border:none;
}

span.tile-accordion-header-left,
span.event-accordion-header-left {
    display: block;
    width:37%;
    float: left;
    margin-top:2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
span.tile-accordion-header-right,
span.event-accordion-header-right {
    display: block;
    text-align: right;
    height: 16px;
}

/* TileLayerAccordion Styles */
div.layer-select-label {
    width:102px;
    float: left;
    color: white;
    margin: 2px 0px 0px 1px;
}
select.layer-select {
    width: 100px;
    border: 1px solid #5c5c5c;
    margin: 2px 0px 0px 1px;
}

.image-download-btn {
    margin-left: 223px;
    float: left;
    cursor: pointer;
}

/* EventLayerAccordion Styles */
.checkboxBtn {
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
}
.checkboxBtn:hover {
    color: #d18f61;
}


#TileLayerAccordion-Container .ui-widget-content,
#EventLayerAccordion-Container .ui-widget-content {
    background-image: none;
    background-color: rgba(0,0,0,0);
}


.drawer-contents .content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#accordion-date .section {
    margin: 0;
    padding: 0.55em 1em;
    background-color: rgba(0,0,0,0.25);
}

#TileLayerAccordion-Container .dynaccordion-section,
#EventLayerAccordion-Container .dynaccordion-section {
    margin: 0;
    padding: 0.55em 1em;
    background-color: rgba(0,0,0,0.25);
}

.dynaccordion-tab {
    margin-bottom: 1em;
}

#TileLayerAccordion-Container .dynaccordion-cell,
#EventLayerAccordion-Container .dynaccordion-cell {
    border: none;
    padding: 0;
    margin: 0;
}

#TileLayerAccordion-Container .ui-accordion-header,
#EventLayerAccordion-Container .ui-accordion-header {
    background-image: none;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    margin: 0;
    border-radius: none;
}

.accordion-header {
    float: right;
    text-align: right;
    font-size: 0.75em;
}

#accordion-images .accordion-header {
    margin: 0.5em;
}

.accordion-header a {
    text-decoration: none;
}

#TileLayerAccordion-Container .opacity-slider-track.ui-widget-content {
    background-image: none;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid rgba(0,0,0,1);
}
#TileLayerAccordion-Container .opacity-slider-track {
    width:  9em;
    height: 4px;
}
#TileLayerAccordion-Container .opacity-slider-track > .ui-slider-handle {
    top:         -8px;
    margin-left: -6px;
    height:      16px;
    width:       8px;
    background-image: none;
    background-color: rgba(230,230,230,1);
    border: 2px solid rgba(0,0,0,1);
    border-radius: 0.2em;
    -moz-border-radius-bottomleft: 0.2em;
    -webkit-border-bottom-left-radius: 0.2em;
    cursor: pointer;
    z-index: 2;
}

.content .layer-select-label {
    text-align: right;
    line-height: 0.8em;
    padding-right: 0.5em;
    font-weight: 500;
    font-size: 0.9em;
    color: rgba(255,255,255,0.8);
}

select.layer-select {
    width:  12em;
}