/* Tile layer accordions */
#tileLayerAccordion {
    margin:0 5px 0 5px;
}
#TileLayerAccordion-Container {
	margin-top: 2px;
    font-size: 10.5px;
}

span.tile-accordion-header-right > span.accordion-header-divider {
    position: absolute;
    line-height: 1.5;
    left: 226px;
}

.dynaccordion-tab {
    cursor: pointer;
}

.dynaccordion-cell {
    border: 1px solid #262424;
    font-size:13px;
    padding: 5px;
}

.layerManagerBtn.visible {
	background: url(../../resources/images/blackGlass/LayerManagerButton_Visibility_Visible.png) transparent;
    position: absolute;
    width: 20px;
    height: 12px;
    left: 234px;
    margin-top:2px;
 }
.layerManagerBtn.hidden {
	background: url(../../resources/images/blackGlass/LayerManagerButton_Visibility_Hidden.png) transparent;
    position: absolute;
    width: 20px;
    height: 12px;
    left: 234px;
    margin-top:2px;
 }

.dynaccordion-section {
    margin-bottom:2px;
}

.removeBtn {
    position: absolute;
    right: 10px;
}

div.accordion-arrow {
	float:left;
	border:none;
}

span.tile-accordion-header-left  {display: block; width:37%; float: left; margin-top:2px;}
span.tile-accordion-header-right {display: block; text-align: right; height: 16px;}

/* TileLayerAccordion Styles */
div.layer-select-label {
	width:102px;
	float: left;
	color: white;
	margin: 2px 0px 0px 1px;
}
select.layer-select {
	width: 100px;
	border: 1px solid #5c5c5c;
	margin: 2px 0px 0px 1px;
	}

.image-download-btn {
    margin-left: 223px;
    float: left;
    cursor: pointer;
}

