div#usage-dialog {
    font-size: 0.85em;
    color: #DFE5CF;
    font-family: 'Courier New', Courier, monospace;
}

div.fits-regular, div.fits-sorted {
    padding:1.5em 1.7em;
    font-size: 14px;
}

span.fits-sort-btn {
    right:4px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top:4px;
    cursor: pointer;
}

#select-options-tabs {
	background: transparent; 
	border: none;
	font-size: 10pt; 
	width: 400px; 
	padding: 0; 
	margin: 0;
}

#select-options-tabs ul {
	background: transparent url(../../lib/jquery.ui-1.8/css/ui-darkness/images/ui-bg_gloss-wave_25_333333_500x100.png) repeat scroll 50% 50%;
	border: none;
	border-bottom: 1px solid #096AC8;
}

.select-options-table td {
	font-size: 9pt;
	padding-right: 10px;
	padding-bottom: 5px;
}

.select-options-table th {
	padding-bottom: 5px;
}

td.layers-checkbox {
	text-align: right; 
	padding-left: 2em;
}

td.layers-name {
	font-size: 8pt; 
	padding-left: 1em;
}

td.time-input-field input {
	width: 6em;
}

#select-options-tabs input, #select-options-tabs select {
	font-size: 8pt;
	padding: 1px;
	border-radius: 4px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
}

#shadowbox-form button {
	background: transparent url(../../lib/jquery.ui-1.8/css/ui-darkness/images/ui-bg_gloss-wave_25_333333_500x100.png) repeat scroll 50% 50%;
	cursor:pointer;
	float:right;
	line-height:1.4em;
	margin:0.5em 0.4em 0.5em 0;
	overflow:visible;
	padding:0.2em 0.6em 0.3em;
	width:auto;
	font-family:Arial,sans-serif;
	font-size:12pt;
}

#shadowbox-form button:hover {
	background: transparent url(../../lib/jquery.ui-1.8/css/ui-darkness/images/ui-bg_gloss-wave_25_333333_500x100.png) repeat scroll 50% 50%;
	border:1px solid #333;
	color: #d18f61;
	font-weight:bold;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
}

#shadowbox-form button:active {
	background: transparent url(../../lib/jquery.ui-1.8/css/dot-luv-modified/images/ui-bg_highlight-hard_15_0b3e6f_1x100.png) repeat scroll 50% 50%;
	border:1px solid #052F57;
	color:#FFFFFF;				
}

#shadowbox-form h2 {
	font-size: 14pt;
}