div#usage-dialog {
    font-size: 0.85em;
    color: #DFE5CF;
    font-family: 'Courier New', Courier, monospace;
}

div.fits-regular, div.fits-sorted {
    padding:1.5em 1.7em;
    font-size: 14px;
}

span.fits-sort-btn {
    right:4px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top:4px;
    cursor: pointer;
}

td.layers-checkbox {
	text-align: right; 
	padding-left: 2em;
}

td.layers-name {
	font-size: 8pt; 
	padding-left: 1em;
}

.fits-header-dialog {
    overflow: auto;
    position: relative;
    padding:0px;
}

.video-links a {
    text-decoration: none;
}

.video-links img {
    vertical-align: bottom;
    margin-left:  15px;
    margin-right: 3px;
}

.video-download-icon {
    margin-left: 5px;
}

.helioviewer-modal-dialog.ui-dialog {
	background: none;
	border: none;
}

.helioviewer-modal-dialog .ui-dialog-titlebar {
	background: none;
	border: none;
	padding: 0 5px;
}

.helioviewer-modal-dialog .ui-dialog-titlebar-close {
	margin: -5px 0 0;
	color: white;
}

.helioviewer-modal-dialog .ui-dialog-titlebar-close:hover {
    background: none;
	padding: 1px;
	border: none;
}

.helioviewer-modal-dialog .ui-widget-header .ui-icon {
	background-image: url("../../lib/jquery.ui-1.8/css/dot-luv-modified/images/ui-icons_ffffff_256x240.png")
}

#url-dialog {
    background: url("../../resources/images/blackGlass/transparentBG50.png") repeat scroll 0 0 transparent;
    border: 1px solid #262424;
	-moz-border-radius: 10px;	
}

/* URL dialog */
#helioviewer-url-box {
    font-size: 13px;
    padding: 5px;
    color: white;
}

.helioviewer-layer-choice-dialog.ui-dialog {
	margin-top: 80px;
}

#layer-choice-dialog button {
	padding: 0.4em 1em;
}

/* Email dialog */
#helioviewer-url-box > form > label {
    float:left;
    display:block;
}
#helioviewer-url-box > form > input[type="text"] {
    display:block;
}

#helioviewer-url-box > form > label
{
    margin-right: 5px;
    width: 50px;
}
