
/* Usage dialog */
div#usage-dialog {
    font-size: 14px;
    color: #DFE5CF;
    font-family: 'Courier New', Courier, monospace;
}

/* Image header dialog */
.image-info-dialog {
    overflow: auto;
    position: relative;
    padding:0px;
}

.image-info-dialog-btn {
	float: right;
	cursor: pointer;
}

.image-info-dialog-menu {
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
}

a.show-fits-tags-btn, a.show-helioviewer-tags-btn {
	color: #FFF;
	margin-right: 10px;
	cursor: pointer;
}

.show-fits-tags-btn:hover, .show-helioviewer-tags-btn:hover {
	color: #D18F61;
}

.image-info-sort-btn {
    float: right;
	font-family: Arial,sans-serif;
	font-size: 12px;
	margin-right: -12px;
	margin-top: -6px;
    cursor: pointer;
}

.image-header-fits, .image-header-helioviewer {
    padding:12px;
    font-size: 12px;
}

.image-header-tag   {display: inline-block; width: 214px; text-align: right; vertical-align: top;}
.image-header-value {display: inline-block; width: 240px; margin-left: 12px;}


/* Event header dialog */
.event-info-dialog {
    overflow: auto;
    position: relative;
    padding:0px;
}
.event-info-dialog.ui-dialog-content {
    padding: 0;
}

.event-info-dialog-btn {
    margin-left: 242px;
    cursor: pointer;
}

.event-info-dialog-menu {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 0px;
    border-bottom: 1px solid #888;
    margin: 8px 0 0 0;
    width: 100%;
    min-width: 646px;
}

a.show-tags-btn {
    color: #CCC;
    text-shadow: 1px 1px 1px #000;
    background-color: #333;
    cursor: pointer;
    padding: 5px 10px;
    -o-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #333;
    border-bottom: none;
    margin: 2px 0 0 13px;
    display: inline-block;
}

.show-tags-btn:hover {
    border: 1px solid #888;
    border-bottom: none;
    color: white;
}

.show-tags-btn.selected {
    background-color: #777;
    border: 1px solid #888;
    border-bottom: none;
    color: white;
}

.show-tags-btn.right {
    float: right;
    margin-right: 13px;
}

.event-info-sort-btn {
    float: right;
    font-family: Arial,sans-serif;
    font-size: 12px;
    margin-right: -12px;
    margin-top: -6px;
    cursor: pointer;
}

.event-header {
    padding: 15px;
    font-size: 12px;
    line-height: 1.5em;
}

.event-header-tag   {
    display: inline-block;
    width: 200px;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    direction: rtl;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-header-tag::before {
    content: ':';
}
.event-header-value {
    display: inline-block;
    width: 470px;
    margin-left: 6px;
    font-family: monospace;
}
.event-header-value.date {
    /*color: #FFA07A;*/
}
.event-header-value.float, .event-header-value.integer {
    /*color: #90EE90;*/
}
.event-header-value.string {
    /*color: #F0E68C;*/
}
.event-header-value.boolean.true {
    /*color: #7FFF00;*/
}
.event-header-value.boolean.false {
    /*color: #DC143C;*/
}
.event-header-value a, .data-key-pair a {
    text-decoration: none;
    color: #6495ED;
}
.event-header-value a:hover, .data-key-pair a:hover {
    color: #1E90FF;
}

.event-header .empty {
    color: #444;
}

/* Video links */
.video-links a {
    text-decoration: none;
}

.video-links img {
    vertical-align: bottom;
    height: 32px;
    margin-right: 2px;
}


.helioviewer-modal-dialog .ui-widget-header .ui-icon {
	background-image: url("../lib/jquery-ui-1.12.0/images/ui-icons_ffffff_256x240.png")
}


/* URL dialog */
/*#url-dialog {
    border: 0.25em solid black;
    -o-border-radius: 0 0 0.25em 0.25em;
	-moz-border-radius: 0 0 0.25em 0.25em;
    -webkit-border-radius: 0 0 0.25em 0.25em;
    border-radius: 0 0 0.25em 0.25em;
    background: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25));
    background: -moz-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25));
    background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25));
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25));
}
#helioviewer-url-box, #helioviewer-bbcode-box {
    font-size: 13px;
    padding: 5px;
    color: white;
}*/

/* Email dialog */
#helioviewer-url-box > form > label {
    float:left;
    display:block;
}
#helioviewer-url-box > form > input[type="text"] {
    display:block;
    margin-bottom: 3px;
}

#helioviewer-url-box > form > label
{
    margin-right: 5px;
    width: 115px;
}

.youtube-upload-dialog {
    overflow: hidden;
}

#helioviewer-settings {
    color: #ffffff;
}

#settings-dialog a {
    color: #ffffff;
}

/* About Dialog */
#about-credits a {
    text-decoration: underline;
}

#about-dialog, #about-dialog a {
   color: #ffffff;
}

#about-credits, #about-credits a {
   color: #ffffff;
}





/* Visual Glossary */

.glossary-title {
   color: #ffffff;
}

.glossary-text, .glossary-text a {
   color: #ffffff;
}

.glossary-text a {
   color: #ffffff;
}

#glossary-menu span {
    float: left;
}
#glossary-contents td {
    padding: 10px;
}
#glossary-contents img, #glossary-contents video, #glossary-contents .youtube-player {
    width: 450px;
    height: 360px;
}
#glossary-contents .glossary-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

#glossary-contents .glossary-links {
    padding-left: 20px;
}

#glossary-contents .glossary-links a {
    text-decoration: none;
}

#glossary-contents .glossary-links a:hover {
    text-decoration: underline;
}


.ui-dialog {
    border: 1px solid black;
    -o-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    background: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));
    padding: 0;
    -moz-box-shadow:    0px 0px 2px 1px white;
    -webkit-box-shadow: 0px 0px 2px 1px white;
    box-shadow:         0px 0px 2px 1px white;
    color: white;
}
.ui-dialog-buttonpane {
    background: none;
}
.ui-dialog-titlebar {
    background: black;
    border: none;
    padding: 0.25em;
    -o-border-radius: 0.25em 0.25em 0 0;
    -moz-border-radius: 0.25em 0.25em 0 0;
    -webkit-border-radius: 0.25em 0.25em 0 0;
    border-radius: 0.25em 0.25em 0 0;
    -moz-box-shadow:    1px 1px 0px 0px rgba(255,255,255,0.25);
    -webkit-box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.25);
    box-shadow:         1px 1px 0px 0px rgba(255,255,255,0.25);
}

.ui-dialog-title {
   color: #ffffff;
}
