/* Usage dialog */
div#usage-dialog {
    font-size: 14px;
    color: #DFE5CF;
    font-family: 'Courier New', Courier, monospace;
}

/* Image header dialog */
.image-info-dialog {
    overflow: auto;
    position: relative;
    padding:0px;
}

.image-info-dialog-btn {
	margin-left: 242px;
	cursor: pointer;
}

.image-info-dialog-menu {
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
}

a.show-fits-tags-btn, a.show-helioviewer-tags-btn {
	color: #FFF;
	margin-right: 10px;
	cursor: pointer;
}

.show-fits-tags-btn:hover, .show-helioviewer-tags-btn:hover {
	color: #D18F61;
}

.image-info-sort-btn {
    float: right;
	font-family: Arial,sans-serif;
	font-size: 12px;
	margin-right: -12px;
	margin-top: -6px;
    cursor: pointer;
}

.image-header-fits, .image-header-helioviewer {
    padding:12px;
    font-size: 12px;
}

.image-header-tag   {display: inline-block; width: 214px; text-align: right; vertical-align: top;}
.image-header-value {display: inline-block; width: 240px; margin-left: 12px;}

/* Video links */
.video-links a {
    text-decoration: none;
}

.video-links img {
    vertical-align: bottom;
    width: 32px;
    height: 32px;
}

.helioviewer-modal-dialog.ui-dialog {
	background: none;
	border: none;
}

.helioviewer-modal-dialog .ui-dialog-titlebar {
	background: none;
	border: none;
	padding: 0 5px;
}

.helioviewer-modal-dialog .ui-dialog-titlebar-close:hover {
    background: none;
	padding: 1px;
	border: none;
}

.helioviewer-modal-dialog .ui-widget-header .ui-icon {
	background-image: url("../../lib/jquery.ui-1.8/css/dot-luv-modified/images/ui-icons_ffffff_256x240.png")
}

#url-dialog {
    background: url("../../resources/images/blackGlass/transparentBG50.png") repeat scroll 0 0 transparent;
    border: 1px solid #262424;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-border-radius: 10px;
}

/* URL dialog */
#helioviewer-url-box {
    font-size: 13px;
    padding: 5px;
    color: white;
}

/* Email dialog */
#helioviewer-url-box > form > label {
    float:left;
    display:block;
}
#helioviewer-url-box > form > input[type="text"] {
    display:block;
}

#helioviewer-url-box > form > label
{
    margin-right: 5px;
    width: 50px;
}

.youtube-upload-dialog {
    overflow: hidden;    
}

/* Visual Glossary */

#glossary-menu span {
    float: left;
}
#glossary-contents td {
    padding: 10px;
}
#glossary-contents img, #glossary-contents video {
    width: 450px;
    height: 360px;    
}
#glossary-contents .glossary-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
