/**
 * jQuery UI dot-luv theme modifications
 */
.ui-datepicker {
    font-size:11px;
  	z-index: 2000;	
}
.ui-datepicker-trigger {
	background-color: transparent;
    cursor: pointer;
	position: relative;
}

.ui-corner-all {
	border-radius: 4px;
}

.ui-state-hover-bgonly {
    background-image: url(../lib/jquery-ui-1.12.0/images/ui-bg_dots-small_40_00498f_2x2.png);
    background-color: #00498f;
}

.ui-state-hover-icononly {
    background-image: url(../lib/jquery-ui-1.12.0/images/ui-icons_d18f61_256x240.png) !important;
}

.ui-icon:hover {
    background-image: url(../lib/jquery-ui-1.12.0/images/ui-icons_d18f61_256x240.png) !important;
}

.layerManagerBtn.visible:hover {
    background-image: url(../../resources/images/blackGlass/LayerManagerButton_Visibility_Visible-hover.png);
}
.layerManagerBtn.hidden:hover {
    background-image: url(../../resources/images/blackGlass/LayerManagerButton_Visibility_Hidden-hover.png);    
}

.ui-icon {
	height: 16px;
	width:  16px;
}
.ui-widget-overlay {
    background: url("../../resources/images/blackGlass/transparentBG75.png") repeat scroll 0 0 transparent;
}

.ui-dialog {font-size: 13px;}

.ui-dialog-buttonpane {border: none;}
