/**
 * jQuery UI dot-luv theme modifications
 */
.ui-datepicker {
    font-size:11px;
  	z-index: 2000;	
}
.ui-datepicker-trigger {
	background-color: transparent;
    cursor: pointer;
	position: relative;
}

.ui-state-hover-bgonly {
    background-image: url(../../jquery.ui-1.7.1/css/dot-luv-modified/images/ui-bg_dots-small_40_00498f_2x2.png);
    background-color: #00498f;
}

.ui-state-hover-icononly {
    background-image: url(../../jquery.ui-1.7.1/css/dot-luv-modified/images/ui-icons_d18f61_256x240.png) !important;
}

span.removeBtn:hover, 
span#timeBackBtn:hover,
span#timeForwardBtn:hover,
#full-screen-btn > div:hover,

.accordion-arrow:hover {
    background-image: url(../../jquery.ui-1.7.1/css/dot-luv-modified/images/ui-icons_d18f61_256x240.png) !important;
}

.layerManagerBtn.visible:hover {
    background-image: url(../../resources/images/blackGlass/LayerManagerButton_Visibility_Visible-hover.png);
}
.layerManagerBtn.hidden:hover {
    background-image: url(../../resources/images/blackGlass/LayerManagerButton_Visibility_Hidden-hover.png);    
}

span.ui-datepicker-trigger:hover {
    background-image: url(../../resources/images/calendar_small-hover.png);
}
