html, body {
          min-width: 1024px;
              width: 100%;
          max-width: 100%;
         min-height: 768px;
             height: 100%;
         max-height: 100%;
         overflow-x: hidden;
         overflow-y: hidden;
           /*overflow: auto;
           overflow:visible;*//*fix overflow*/
   background-color: #000;
        font-family: "HelveticaNeue-Light",
                     "Helvetica Neue Light",
                     "Helvetica Neue",
                      Helvetica, Arial,
                      sans-serif;
        font-weight: 200;
}

.left {
   float: left;
}
.right {
   float: right;
}

.user-select-none {
      -moz-user-select: -moz-none;
      -moz-user-select: none;
        -o-user-select: none;
    -khtml-user-select: none;
   -webkit-user-select: none;
       -ms-user-select: none;
           user-select: none;
                cursor: default;
}
.user-selectable {
      -moz-user-select: text;
        -o-user-select: text;
    -khtml-user-select: text;
   -webkit-user-select: text;
       -ms-user-select: text;
           user-select: text;
                cursor: text;
}

.fa  {
      font-family: 'untitled-font-1';
   vertical-align: middle;
}
.fa-label {
   vertical-align: middle;
     padding-left: 0.4em;
      font-weight: 200;
}

#hv-header {
           position: absolute;
          min-width: 1024px;
              width: 100%;
         min-height: 3em;
             height: 3em;
         max-height: 3em;
         overflow-x: hidden;
         overflow-y: hidden;
           overflow: hidden;
            z-index: 1;
              color: rgba(255,255,255,0.9);
         background: -o-linear-gradient(
                      rgba(0,0,0, 0.75), rgba(0,0,0, 0.5),
                      rgba(0,0,0, 0.5), rgba(0,0,0, 0.75));
         background: -moz-linear-gradient(
                      rgba(0,0,0, 0.75), rgba(0,0,0, 0.5),
                      rgba(0,0,0, 0.5), rgba(0,0,0, 0.75));
         background: -webkit-linear-gradient(
                      rgba(0,0,0, 0.75), rgba(0,0,0, 0.5),
                      rgba(0,0,0, 0.5), rgba(0,0,0, 0.75));
         background: linear-gradient(
                      rgba(0,0,0, 0.75), rgba(0,0,0, 0.5),
                      rgba(0,0,0, 0.5), rgba(0,0,0, 0.75));
    -moz-box-shadow: 1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
 -webkit-box-shadow: 1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
         box-shadow: 1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
        font-family: 'Helvetica Neue',
                     'Helvetica',
                      sans-serif;
        font-weight: 200;
}

/* Logo */
#logo {
     position: relative;
        float: left;
        width: 24.75em;
       height: 3em;
       margin: 0.2em 0 0.3em 0;
   text-align: center;
}
#logo h1 {
     font-size: 2em;
   font-family: 'Helvetica Neue',
                'Helvetica',
                 sans-serif;
   font-weight: 200;
}
#logo h1 > span:hover a {
   color: rgba(255,255,255,1);
}
#logo a.logo-icon {
   vertical-align: -1pt;
}
#logo a.logo-text {
   font-family: "Avenir Next",
                "HelveticaNeue-Light",
                "Helvetica Neue Light",
                "Helvetica Neue",
                Helvetica, Arial,
                sans-serif;
   font-weight: 400;
   vertical-align: -1pt;
}


#zoom, #scale, mouse-coords-box {
         position: relative;
            float: left;
            width: auto;
           height: 2em;
           margin: 2pt 0 0 0em;
          padding: 2pt;
       overflow-x: hidden;
       overflow-y: hidden;
         overflow: hidden;
       text-align: left;
        font-size: 1.2em;
      font-weight: 200;
            color: rgba(255,255,255,0.8);
   vertical-align: middle;
}
#scale, #mouse-coords-box {
          float: right;
   margin-right: 0em;
     text-align: right;
     
}
#mouse-coords-box {
	width:200px;
}
/* Header Buttons */
#hv-header .viewport-action, #hv-drawer-timeline .viewport-action, #hv-drawer-timeline-events .viewport-action {
                position: relative;
                 display: inline-block;
                   width: 1em;
                  height: 1em;
                  margin: -1px 0 0 0;
                 padding: 4pt;
        background-color: rgba(255,255,255,0.75);
                   color: black;
                  border: 2px solid rgba(0,0,0,1);
               font-size: 12pt;
              text-align: center;
          vertical-align: middle;
             line-height: 1em;
        -o-border-radius: 16px;
      -moz-border-radius: 16px;
   -webkit-border-radius: 16px;
           border-radius: 16px;
                  cursor: pointer;
}
#hv-header .viewport-action:hover, #hv-drawer-timeline .viewport-action:hover, #hv-drawer-timeline-events .viewport-action:hover {
              color: rgba(255,255,255,0.75);
       border-color: rgba(255,255,255,0.75);
   background-color: rgba(0,0,0,0.75);
     /* -moz-box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
   -webkit-box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
           box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);*/
}
#hv-header .viewport-action:active, #hv-drawer-timeline .viewport-action:active, #hv-drawer-timeline-events .viewport-action:active {
              color: #cb2027;
       border-color: #cb2027;
   background-color: black;
}
#hv-header .viewport-action.active {
              color: #cb2027;
       border-color: #cb2027;
   background-color: white;
}
#hv-header .viewport-action.active:hover {
              color: rgba(255,255,255,0.75);
       border-color: rgba(255,255,255,0.75);
   background-color: rgba(0,0,0,0.75);
}
#hv-header .viewport-action.active:active {
              color: #cb2027;
       border-color: #cb2027;
   background-color: black;
}

#hv-header .viewport-action.segmented-left {
        -o-border-radius: 12px 0 0 12px;
      -moz-border-radius: 12px 0 0 12px;
   -webkit-border-radius: 12px 0 0 12px;
           border-radius: 12px 0 0 12px;
                  border: 2px 0 2px 2px;
      border-right-color: black;
}
#hv-header .viewport-action.segmented-left:hover,
#hv-header .viewport-action.segmented-left:active,
#hv-header .viewport-action.segmented-left.active:active {
   border-right-color: black;
}
#hv-header .viewport-action.segmented-left.active:hover {
                color: rgba(255,255,255,0.75);
         border-color: rgba(255,255,255,0.75);
   border-right-color: rgba(0,0,0,0.75);
     background-color: rgba(0,0,0,0.75);
}
#hv-header .viewport-action.segmented-middle {
        -o-border-radius: 0;
      -moz-border-radius: 0;
   -webkit-border-radius: 0;
           border-radius: 0;
                  border: 2px 0;
}
#hv-header .viewport-action.segmented-right {
             margin-left: -1px;
        -o-border-radius: 0 12px 12px 0;
      -moz-border-radius: 0 12px 12px 0;
   -webkit-border-radius: 0 12px 12px 0;
           border-radius: 0 12px 12px 0;
                  border: 2px 2px 2px 2px;
}
#hv-header .viewport-action.segmented-right:hover,
#hv-header .viewport-action.segmented-right:active,
#hv-header .viewport-action.segmented-right.active:active {
   border-left-color: black;
}
#hv-header .viewport-action.segmented-right.active:hover {
                color: rgba(255,255,255,0.75);
         border-color: rgba(255,255,255,0.75);
   border-left-color: rgba(0,0,0,0.75);
     background-color: rgba(0,0,0,0.75);
}


/* Asynchronous Loading Spinner */
#hv-header #loading {
           z-index: 9999;
          position: absolute;
               top: 0;
             width: 100%;
            height: 100%;
            margin: 0 auto;
           padding: 0.65em 0;
        text-align: center;
    vertical-align: middle;
             color: rgba(255,255,255,0.8);
         font-size: 1.2em;
       font-weight: 400;
}
#hv-header #loading > span {
        background-color: rgba(64,64,64,1);
                 padding: 0.2em 0.25em 0.25em 0.25em;
        -o-border-radius: 4pt;
      -moz-border-radius: 4pt;
   -webkit-border-radius: 4pt;
           border-radius: 4pt;
}
#hv-header #loading .fa-circle-o-notch {
   vertical-align: 0.05em;
}


/* Header Drawer Tabs */
#hv-header #menus {
           position: relative;
              float: right;
              width: 12.5em;
             height: 100%;
   background-color: #000;
        border-left: 2pt solid black;
          font-size: 2em;
         text-align: center;
             cursor: pointer;
}
#hv-header #menus:hover {
   cursor: context-menu;
}
#menus .ui-icon {
   vertical-align: middle;
}
#menus .ui-icon:hover {
   color: rgba(255,255,255,1);
}
#hv-header a {
             color: rgba(255,255,255,0.8);
   text-decoration: none;
}
#hv-header a:hover {
             color: rgba(255,255,255,1);
   text-decoration: none;
}


/* Drawers */
#hv-drawer-left {
                 display: none;
                 z-index: 2;
                position: absolute;
                     top: 3em;
              max-height: 95%;
                 padding: 0;
              overflow-x: visible;
              overflow-y: auto;
              /*overflow:visible;*//*fix overflow*/
        background-color: rgba(255,255,255,0.33);
                   color: rgba(255,255,255,0.85);
             font-family: 'Helvetica Neue',
                           Helvetica,
                           sans-serif;
             font-weight: 200;
   /* border is handled in javascript */
        -o-border-radius: 0 0 2pt 0;
      -moz-border-radius: 0 0 2pt 0;
   -webkit-border-radius: 0 0 2pt 0;
           border-radius: 0 0 2pt 0;
                  height: auto;
              min-height: 9em;
         -moz-box-shadow: 1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
      -webkit-box-shadow: 1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
              box-shadow: 1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
}

#hv-drawer-left {
    -ms-overflow-style: none;  /* IE 10+*/
    overflow: -moz-scrollbars-none;  /* Firefox*/
}
#hv-drawer-left::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome*/
}

#hv-drawer-left .drawer-contents {
               height: auto;
           max-height: 100%;
           overflow:visible;
           overflow-x: visible;
           transition: width 200ms;
}
.hv-drawer-right {
   display: none;
   position: relative;
   float: right;
   top: 3em;
   right: 0;
   height: 0;
   max-height: 95%;
   overflow: auto;
   width: 25em;
   background-color: rgba(255,255,255,0.33);
   color: rgba(255,255,255,0.85);
   font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
   font-weight: 200;
   border-left: 2pt solid #000;
   border-bottom: 2pt solid #000;
   -o-border-radius: 0 0 0 4pt;
   -moz-border-radius: 0 0 0 4pt;
   -webkit-border-radius: 0 0 0 4pt;
   border-radius: 0 0 0 4pt;
   -moz-box-shadow:   -1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
   -webkit-box-shadow: -1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
   box-shadow:       -1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
   z-index: 2;
}

#hv-drawer-tab-timeline{
	position: absolute;
    bottom: 0;
    width: 7.5em;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
    left:50%;
    margin-left:-110px;
}
#hv-drawer-tab-timeline-events{
	position: absolute;
    bottom: 0;
    width: 8em;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
    left:50%;
    margin-left:10px;
}
#hv-drawer-tab-timeline-events.selected,
#hv-drawer-tab-timeline.selected{
	background:#fcfcfc;
	color:#000;
    border-bottom: 1px solid white;
}


.helioviewer-drawer-bottom {
    position: absolute;
    bottom: 0;
    clear: both;
    width: 100%;
    height: 0; /* opened via JavaScript */
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255,255,255,0.8);
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 200;
    text-align: center;
    /*border-top: 0.45em solid #000;*/
    -moz-box-shadow:    0px -1px 1px -1px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px -1px 1px -1px rgba(255,255,255,0.75);
    box-shadow:         0px -1px 1px -1px rgba(255,255,255,0.75);
    overflow-y: visible;
    z-index: 9;
    display: none;
}

.drawer-contents {
   display: none;
   position: relative;
   margin: 0;
   padding: 0;
   height: auto;
   overflow-y: auto;
   z-index: 2;
}


/* Drawer Tabs */
.drawer-tab {
   z-index: 3;
   position: relative;
   cursor: context-menu;
   font-size: 1em;
   font-weight: 400;
   color: rgba(255,255,255,1);
   background-color: rgba(0,0,0,1);
   text-align: center;
   -o-border-radius: 3px 3px 0 0;
   -moz-border-radius: 3px 3px 0 0;
   -webkit-border-radius: 3px 3px 0 0;
   border-radius: 4pt 4pt 0 0;
   padding: 0 0.5em 0.25em 0.5em;
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
}
#hv-drawer-tab-left {
           position: absolute;
               top: 6.75em;
              left: -2.7em;
    -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
      -moz-box-shadow: 0pt -2pt 3pt 0pt rgba(255,255,255,0.75);
   -webkit-box-shadow: 0pt -2pt 3pt 0pt rgba(255,255,255,0.75);
         box-shadow: 0pt -2pt 3pt 0pt rgba(255,255,255,0.75);
}
#drawer-viewport-controls-right {
   position: absolute;
   top: 0;
   left: -2em;
   cursor: pointer;
}
.drawer-tab-bottom {
    position: relative;
    margin: -2em auto 0 auto;
}

.helioviewer-drawer-bottom .drawer-tab{
	width:7em;
	border-top:1px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	border-bottom:1px solid black;
}

/* Accordions */

.accordion {
   position: relative;
   color: rgba(255,255,255,0.8);
   margin-top: 0.5em;
   overflow:visible;
}
.accordion .header {
   color: rgba(255,255,255,0.9);
   background-color: rgba(0,0,0,0.75);
}
.accordion .header:hover {
   background-color: black;
}
.accordion .header h1 {
   font-size: 1em;
   display: inline-block;
   margin: 0.2em 0;
   font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
   font-weight: 500;
   color: rgba(255,255,255,0.9);
}
.accordion .header:hover h1 {
   color: rgba(255,255,255,1);
}
.disclosure-triangle {
   cursor: pointer;
   color: rgba(255,255,255,0.9);
   font-size: 0.8em;
   padding: 0 0.1em 0 0.5em;
   display: inline-block;
   text-align: center;
   width: 1em;
}
.disclosure-triangle-alway-open {
   color: rgba(0,0,0,1);
   font-size: 0.8em;
   padding: 0 0.1em 0 0.5em;
   display: inline-block;
   text-align: center;
   width: 1em;
}
.accordion .header:hover .disclosure-triangle {
   color: rgba(255,255,255,1);
}
.disclosure-triangle .closed {
}
.disclosure-triangle .opened {
}
.accordion .content {
   display: none;
   background-color: rgba(0,0,0,0.6);
   padding: 0.75em;
   font-size: 0.75em;
}
.accordion .content .row {
   position: relative;
}
.accordion .content .ui-icon {
   color: rgba(255,255,255,0.8);
}
.accordion .content .blog {
   margin-bottom: 0.5em;
}
.accordion .content a {
   text-decoration: none;
   color: rgba(255,255,255,0.8);
}
.accordion .content a:hover {
   text-decoration: none;
   color: rgba(255,255,255,1);
}
.accordion .content .text {
   padding-left: 2.5em;
}
.accordion a.ui-icon:hover {
   text-decoration: none;
   border: none;
}
.accordion .row {
   margin-bottom: 0.75em;
   width: 100%;
   position: relative;
}
.accordion .row:first-child {
   margin-bottom: 1.5em;
}
.accordion .row .label {
   display: inline-block;
   width: 5em;
   text-align: right;
   padding-right: 0.5em;
   font-weight: 500;
   font-size: 1.2em;
   float: left;
}
.accordion .row .field {
   display: inline-block;
   text-align: left;
}
.timeSelectorDialog input[type=text], .accordion input[type=text] {
   background-color: rgba(255,255,255,0.2);
   border: 1px solid rgba(255,255,255,0.6);
   -webkit-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   border-radius: 0.2em;
   color: rgba(255,255,255,1);
   font-family: 'Courier New', Courier, monospace;
   font-weight: 200;
   padding: 0.3em 0.5em;
   width: 6em;
   text-align: center;
}
.accordion select {
   /*background-color: rgba(255,255,255,0.2);*/
   background-color: #4c4c4c;
   border: 1px solid rgba(255,255,255,0.6);
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   color: rgba(255,255,255,1);
   font-family: 'Courier New', Courier, monospace;
   font-weight: 200;
   padding: 0.3em 0.5em;
   vertical-align: middle;
}
.accordion select option {
   /*background-color: rgba(255,255,255,0.2);*/
   background-color: #4c4c4c;
   color: rgba(255,255,255,1);
   font-family: 'Courier New', Courier, monospace;
   font-weight: 200;
}

.timeSelectorDialog .text-btn {
    color: rgba(255,255,255,1);
    background-color: transparent;
    border: 1px solid rgba(255,255,255,1);
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: 0.1em 0.4em;
    font-weight: 400;
    font-size: 1.2em;
    float:right;
}
.timeSelectorDialog .text-btn:hover {
    color: rgba(255,255,0,1);
    border: 1px solid rgba(255,255,0,1);
}
.timeSelectorDialog .text-btn:active {
    color: yellow;
    border: 1px solid yellow;
}

_:-ms-fullscreen, :root .accordion select option{
   color: #000000;
}

.row .field .suffix {
   display: inline-block;
   margin-left: 0.2em;
}
.row .ui-icon.ui-datepicker-trigger {
   position: relative;
   display: inline-block;
   font-size: 1.5em;
   vertical-align: middle;
   float: right;
   margin: 0;
   padding: 0;
}
.row .ui-icon:hover {
   color: rgba(255,255,255,1);
   cursor: pointer;
}

.inline {
   display: inline-block;
}

.contextual-help {
     padding: 0.33em;
   font-size: 1em;
      color: rgba(255,255,255,0.5);
}
.contextual-help:hover {
    color: rgba(175,0,255,1);
   cursor: help;
}





/**
 * Helioviewer.org Custom Styles
*/

/* HTML elements */

#col2 input, #col2 select {background-color:#F4F4F4;}
#left-col-header, #right-col-header {height: 50px; margin-top: -12px;}

/* Viewport */
#helioviewer-viewport-container-inner {
   position: absolute;
   top:0;
   left: 0;
   display: block;
   width:100%;
   height:100%;
}
#helioviewer-viewport-container-outer {
   position: absolute;
   top:0;
   left: 0;
   display: block;
   min-width: 1024px;
   width:100%;
   height:100%;
}

.glow {
   -moz-box-shadow:   0px 0px 1px 1px yellow;
   -webkit-box-shadow: 0px 0px 1px 1px yellow;
   box-shadow:       0px 0px 1px 1px yellow;
}




/* Opacity Slider */
.opacity-slider-track {
   margin: 4px 0 9px 0;
   background: url(../../resources/images/blackGlass/glass_slider_trough_horiztonal_white.png) transparent scroll 0%;
   border-style: solid;
   border-color: black;
   border-width: 0px 1px;
   float: left;
}

.opacity-slider-track > .ui-slider-handle {
   background-color: #565656;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   border: 1px solid black;
   cursor: pointer;
   height:19px;
   width: 10px;
   top:-6px;
}

/* Message Console */
#message-console .message-console-link {
   text-decoration: none;
   font-weight: bold;
   color: #3d76e0;
}

#message-console .message-console-link:hover {
   text-decoration: underline;
   color: #e03d76;
}

/* Text-icon buttons */
div.text-btn, div.text-btn a {
   cursor: pointer;
   text-decoration: none;
   display: inline-block;
   float: left;
   color: white;
   margin: 0 5px;
}

div.text-btn:hover,
div.text-btn:hover a:hover {
   color: yellow;
}

span.ui-icon-hover, div.ui-icon-hover {
   background-image: url(../lib/jquery-ui-1.13.1/images/ui-icons_d18f61_256x240.png) !important;
}

.section-header {
   font-weight: bold;
}
.section-header a {
   text-decoration: none;
   color: inherit;
}
.section-header a:hover {
   color: #d18f61;
}

/* jGrowl */
#message-console {
   position: absolute;
   top: 3em;
   left: 0;
   right: 0;
   margin: auto;
   min-width: 20em;
   max-width: 30em;
   text-align: center;
}

#message-console .jGrowl-notification, #message-console .jGrowl-closer {
   background: #CCD9D9;
   color: #262424;
   margin: 0 auto 0.5em auto;
}

#message-console .jGrowl-message a {
   text-decoration: none;
   color: #262424;
}

/* Social & Movie buttons */
#social-buttons {
   background-color: #2A2A2A;
   position: absolute;
   right: 17px;
   top:0px;
   padding: 1px 0px 1px 8px;
   border-top: 0px;
   border-bottom: 1px solid #262424;
   border-left: 1px solid #262424;
   border-right: 0px;
   font-size: 11px;
   height: 15px;
   -moz-border-radius-bottomleft: 20px;
   -webkit-border-bottom-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

/* Blog entries */
#social-panel {
   height: 100%;
   font-size: 11px;
   padding: 4px 2px 6px;
   margin: 0 5px;
}
#social-panel.ui-widget-content {
   background: none;
   border: none;
}
#social-panel .blog-entry {
   margin: 4px 4px 14px 4px;
}

#social-panel .blog-entry a {
   font-size: 13px;
   font-weight: 700;
   text-decoration: none;
}
#social-panel .blog-entry a:hover {
   color: yellow;
}

#social-panel .article-date {
   font-style: italic;
}

#more-articles {
   text-align: right;
}

#more-articles a {
   text-decoration: none;
}

#more-articles a:hover {
   color: yellow;
}

/* Image Area Select */
#image-area-select-buttons {
   display: none;
   position: absolute;
   width: 100%;
   height: 3em;
   background: black;
   padding: 0;
   margin: 0;
   color: yellow;
   text-align: center;
   z-index: 9999;
}

#image-area-select-container {
   position: relative;
   cursor: crosshair;
   z-index: 5;
   width:100%;
   height:100%;
   display: none;
}

#image-area-select-buttons .text-btn {
   color: rgba(255,255,255,0.8);
   background-color: rgba(255,255,255,0.00);
   border: 1px solid rgba(255,255,255,0.8);
   -o-border-radius: 1em;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
   border-radius: 1em;
   padding: 0.35em 0.8em 0.4em 0.4em;
   font-weight: 400;
   text-align: center;
   margin: 0.5em 0.4em;
}
#done-selecting-image.text-btn {
   border-color: #00ff00;
   color: #00ff00;
}
#cancel-selecting-image.text-btn {
   border-color: red;
   color: red;
}

/** Settings dialog */

#settings-dialog {
   display: none;
   margin: 15px 15px 0 15px;
   font-size: 1em;
}

#helioviewer-settings label {
   display: inline-block;
   margin: 5px 2px 0 0;
}

#helioviewer-settings fieldset {
   padding: 2px 10px;
}

#helioviewer-settings legend {
   margin-left: -10px;
   font-weight: 500;
   color: white;
}

#helioviewer-settings input {
   margin: 1px 5px;
}


/** Debugging */
#debug-dimensions {
   position: absolute;
   bottom: 2px;
   right: 5px;
   color: white;
}

/*.fa:hover {
   color: yellow;
}*/

.text-button {
   color: rgba(255,255,255,0.8);
   background-color: transparent;
   border: 1px solid rgba(255,255,255,0);
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
   border-radius: 1em;
   padding: 0.1em 0.4em;
   font-weight: 200;
}
.text-button:hover {
   color: white;
   background-color: transparent;
   border: 1px solid rgba(255,255,255,1);
}
.text-button a:hover {
   text-decoration: none;
   background-color: transparent;
}
.text-button:active {
   color: yellow;
   border: 1px solid yellow;
}
.text-button a:active {
   text-decoration: none;
   color: yellow;
}
.drawer-contents .row .buttons .text-button.inactive,
.drawer-contents .row .buttons .text-button.inactive:hover,
.drawer-contents .row .buttons .text-button.inactive:active {
   border: 1px solid rgba(255,255,255,0.33);
   color: rgba(255,255,255,0.33);
}

.social-btns {
    min-height: 3em;
}

.social-btns .text-btn {
    color: rgba(255,255,255,1);
    background-color: transparent;
    border: 1px solid rgba(255,255,255,1);
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: 0.1em 0.4em;
    font-weight: 400;
    font-size: 13px;
}
.social-btns .text-btn:hover {
    color: rgba(175,0,255,1);
    border: 1px solid rgba(175,0,255,1);
     background-color: rgba(0,0,0,1);
      -moz-box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
   -webkit-box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
           box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
   background-color: white;
}
.social-btns .text-btn:active {
    color: rgba(175,0,255,1);
    border: 1px solid rgba(175,0,255,1);
}

#facebook.social-btns .text-btn:hover {
   color: #3b5998;  /* facebook logo blue */
   border: 3px solid #3b5998;
}
#twitter.social-btns .text-btn:hover {
   color: #00aced;  /* twitter logo blue */
   border: 3px solid #00aced;
}
#pinterest.social-btns .text-btn:hover {
   color: #cb2027;  /* pinterest logo red */
   border: 3px solid #cb2027;
}
#google.social-btns .text-btn:hover {
   color: #dd5044;  /* pinterest logo red */
   border: 3px solid #dd5044;
}


/* NEWS */
#hv-header #news-button:hover,
#hv-header #news-button.opened {
   color: rgba(255,102,0,1);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #news-button.opened:hover {
   color: rgba(255,102,0,1);
   background-color: rgba(255,255,255,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #news-button:active {
   color: rgba(255,102,0,0.75);
}


/* YOUTUBE */
#youtube-button {
   background-image: url("../images/yt_icon_mono_dark.png");
   background-size:100%;
   background-repeat: no-repeat;
   width: 33px;
   height: 23px;
}
#youtube-button:hover {
   background-image: url("../images/yt_icon_rgb.png");
}
#youtube-button.opened{
   background-image: url("../images/yt_icon_rgb.png");
   background-size:100%;
   background-repeat: no-repeat;
   width: 33px;
   height: 23px;
}

/* MOVIES */
#hv-header #movies-button:hover,
#hv-header #movies-button.opened {
   color: rgba(175,0,255,1);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #movies-button.opened:hover {
   color: rgba(175,0,255,1);
   background-color: rgba(255,255,255,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #movies-button:active {
   color: rgba(175,0,255,0.75);
}


/* SCREENSHOTS */
#hv-header #screenshots-button:hover,
#hv-header #screenshots-button.opened {
   color: rgba(0,191,143,1);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #screenshots-button.opened:hover {
   color: rgba(0,191,143,1);
   background-color: rgba(255,255,255,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #screenshots-button:active {
   color: rgba(0,191,143,0.75);
}


/* DATA */
#hv-header #data-button:hover,
#hv-header #data-button.opened {
   color: rgba(0,127,238,1);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #data-button.opened:hover {
   color: rgba(0,127,238,1);
   background-color: rgba(255,255,255,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #data-button:active {
   color: rgba(0,127,238,0.75);
}


/* SHARE */
#hv-header #share-button:hover,
#hv-header #share-button.opened {
   color: rgba(0,0,238,1);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #share-button.opened:hover {
   color: rgba(0,0,238,1);
   background-color: rgba(255,255,255,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #share-button:active {
   color: rgba(0,0,238,0.75);
}


/* HELP */
#hv-header #help-button:hover,
#hv-header #help-button.opened {
   color: rgba(175,0,255,1);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #help-button.opened:hover {
   color: rgba(175,0,255,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #help-button:active {
   color: rgba(175,0,255,1);
}


/* SETTINGS */
#hv-header #settings-button:hover,
#hv-header #settings-button.opened {
   color: rgba(64,64,64,1);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #settings-button.opened:hover {
   color: rgba(64,64,64,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
#hv-header #settings-button:active {
   color: rgba(64,64,64,1);
}





#hv-header .social-button {
   font-size: 0.75em;
   padding: 0.15em;
}

#hv-header .social-button:hover {
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
   /*cursor: pointer;*/
}

.drawer-contents .top-shadow {
   height: 0.75em;
   position: fixed;
   top: 3em;
   width: 25em;
   z-index: 3;
   background: -o-linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0));
   background: -moz-linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0));
   background: -webkit-linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0));
   background: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0));
}
.drawer-contents .bottom-shadow {
   height: 0.75em;
   position: fixed;
   bottom: 0.4em;
   width: 25em;
   z-index: 3;
   background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
   background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
   background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
   background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
}

.imgareaselect-outer {
   cursor: crosshair;
}


#mouse-polar, #mouse-cartesian {
   font-size: 10pt;
   font-weight: 400;
}





/* Mouse coordinates */
#mouse-coords {
          z-index: 2;
         position: relative;
            float: left;
            width: auto;
             left: 0;
       margin-top: 1em;
       text-align: center;
   vertical-align: middle;
            color: rgba(255,255,255,0.8);
        font-size: 1em;
      font-weight: 400;
    white-space: nowrap;
}

#mouse-coords-x, #mouse-coords-y {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    width: 5em;
}
#mouse-coords-y {
    text-align: left;
}


#accordion-sdo .media-manager-build-btns {
    min-height: 3em;
}

#accordion-sdo .media-manager-build-btns .text-btn {
    color: rgba(255,255,255,1);
    background-color: transparent;
    border: 1px solid rgba(255,255,255,1);
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: 0.1em 0.4em;
    font-weight: 400;
    font-size: 0.8em;
}
#accordion-sdo .media-manager-build-btns .text-btn:hover {
           color: rgba(255,255,0,1);
    border-color: rgba(255,255,0,1);
}
#accordion-sdo .media-manager-build-btns .text-btn:active {
           color: yellow;
    border-color: yellow;
}
#accordion-sdo .media-manager-build-btns .text-btn.selected {
           color: #00ff00;
    border-color: #00ff00;
}
#accordion-sdo .media-manager-build-btns .text-btn.inactive {
           color: rgba(255,255,255,0.33);
    border-color: rgba(255,255,255,0.33);
}
#accordion-sdo .media-manager-build-btns .text-btn.selected:hover {
           color: yellow;
    border-color: yellow;
}

.notification-counter {   
    position: relative;
    top: -10px;
    left: 0px;
    
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 15px;
    padding: 1px 3px;
    font-size: 8px;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
}


.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
	width:100%;
	height:120px;
}


/* FIX jQuery Dialog position */
.ui-front { z-index: 9998 !important; } .ui-dialog { z-index: 9999 !important; }


#watermark {
    background-image: url('../../resources/images/logos/watermark_embed.svg');
    position: absolute;
    cursor: pointer;
    display: none;
    width: 140px;
    height: 35px;
    left: 20px;
    bottom: 20px;
}



/*
	IMAGES PRESETS DROPDOWN LIST
*/
.dropdown-holder {
	/*background-color:rgb(255,100,100);
	padding:10px 0;*/
	position:relative;
}
.dropdown-holder ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position:relative;
}

.dropdown-holder ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
.dropdown-holder li ul {    
    background:rgba(0, 0, 0, 0.9);
    position:absolute;
    left:0;
    top:17px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
    z-index:5;
    border:1px solid #2e2e2e;
}

/*.dropdown-holder .dropdown-main{
	position: absolute;
}

.dropdown-holder .dropdown-main > ul{
	position:fixed;
}*/

.dropdown-holder li li {
    position:relative;
    margin:0;
    display:block;
    border-bottom:1px solid #2e2e2e;
}
.dropdown-holder li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

/* style all links */
.dropdown-holder .sub-menu a {
    padding:5px 12px 7px;
    /*margin:0 12px;*/
}
.dropdown-holder .sub-menu a {
    color:#fff;
    text-decoration:none;
    display:block;
}
.dropdown-holder .sub-menu a:hover {
    background:#333333;
}

.dropdown-holder .arrow {
  width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
  
  position: absolute;
  top:10px;
}

.dropdown-holder .arrow-right {
	border-left: 7px solid #fcfcfc;
  right: 10px;
}

.dropdown-holder .arrow-left {
	border-right: 7px solid #fcfcfc; 
  left: 0;
}

/* style sub level links */
.dropdown-holder li.sub-menu li a {
    border-bottom:solid 1px rgb(200,50,50);
    margin:0 10px;
    padding:0;
}
.dropdown-holder li.sub-menu li:last-child a {
    border-bottom:none;
}

/* hide sub menu links */
.dropdown-holder ul.sub-menu {
    display:none;
}

.dropdown-holder .divider{
	border: 2px solid #2e2e2e;
}
.dropdown-holder .sub-menu .text-button {
    color: rgba(255,255,255,0.9);
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.9);
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: 0.4em 0.6em;
    font-weight: 400;
    font-size: 10px;
    margin: 5px auto;
    width:50px;
    display:block;
    text-align:center;
}
.dropdown-holder .item-add-form > div{
	padding:5px;
}

.dropdown-holder .item-list{
	font-size:10px;
}

.dropdown-holder .item-list .item-list-remove{
	font-size:16px;
	float:right;
	display:none;
	/*margin-top:7px;*/
}

.dropdown-holder .item-list:hover .item-list-remove { display:block; }


.tutappicons_box {
   display: flex;
   align-items:center;
   padding-bottom: 5px;
}

#soho-psp-tree-trajectory .button, #soho-psp-tree-trajectory .decoration {
   display: none;
}


#stereo_a-psp-tree-trajectory .button, #stereo_a-psp-tree-trajectory .decoration {
   display: none;
}
