html, body {
    height: 100%;
    font-family:
        "HelveticaNeue-Light",
        "Helvetica Neue Light",
        "Helvetica Neue",
        Helvetica, Arial,
        "Lucida Grande",
        sans-serif;
    font-weight: 200;
    min-width: 1024px;
    min-height: 768px;
    background-color: #000;
    overflow: none;
}

.left {
    float: left;
}
.right {
    float: right;
}

.fa  {
    font-family: 'untitled-font-1';
    vertical-align: middle;
}
.fa-label {
    font-weight: 200;
    vertical-align: middle;
    padding-left: 0.4em;
}

#helioviewer-header {
    position: absolute;
    color: rgba(255,255,255,0.9);
    background-color: black;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 200;
    z-index: 2;
    width: 100%;
    height: 3em;
    max-height: 3em;
}
#helioviewer-header .logo {
    position: relative;
    float: left;
    width: 24.75em;
    text-align: center;
    margin: 0.2em 0 0.3em 0;
}
#helioviewer-header .logo h1 {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 200;
    font-size: 2em;
}
#helioviewer-header #loading {
    z-index:999;
    width: 20em;
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: rgba(255,255,255,0.8);
    font-size: 1.2em;
    font-weight: 200;
    height: 3em;
    padding: 0.65em 0;
    vertical-align: bottom;
}
#helioviewer-header .menus {
    position: absolute;
    top: 0;
    right: 0;
    width: 12.5em;
    font-size: 2em;
    margin: 0.05em 0 0 0;
    text-align: center;
    height: 100%;
}
.menus .ui-icon {
    vertical-align: text-bottom;
}
.menus .ui-icon:hover {
    color: rgba(255,255,255,1);
}
#helioviewer-header a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}
#helioviewer-header a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}


/* Drawers */

#helioviewer-drawer-left {
    position: absolute;
    top: 3em;
    left: 0;
    /*height: 100%;*/
    width: 0; /* opened via JavaScript */
    background-color: rgba(255,255,255,0.25);
    color: rgba(255,255,255,0.85);
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 200;
    border-right: 2pt solid #000;
    border-bottom: 2pt solid #000;
    -o-border-radius: 0 0 4pt 0;
    -moz-border-radius: 0 0 4pt 0;
    -webkit-border-radius: 0 0 4pt 0;
    border-radius: 0 0 4pt 0;
    transition: width 150ms;
    -moz-box-shadow:    1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
    -webkit-box-shadow: 1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
    box-shadow:         1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
    overflow-x: visible;
    z-index: 1;
}
#helioviewer-drawer-right {
    position: absolute;
    top: 3em;
    right: 0;
    /*height: 100%;*/
    width: 0; /* opened via JavaScript */
    background-color: rgba(255,255,255,0.25);
    color: rgba(255,255,255,0.85);
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 200;
    border-left: 2pt solid #000;
    border-bottom: 2pt solid #000;
    -o-border-radius: 0 0 0 4pt;
    -moz-border-radius: 0 0 0 4pt;
    -webkit-border-radius: 0 0 0 4pt;
    border-radius: 0 0 0 4pt;
    transition: width 150ms;
    -moz-box-shadow:    -1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
    -webkit-box-shadow: -1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
    box-shadow:         -1pt 1pt 4pt -1pt rgba(255,255,255,0.75);
    overflow-x: visible;
    z-index: 1;
}
/*#helioviewer-drawer-bottom {
    position: absolute;
    bottom: 0;
    clear: both;
    width: 100%;
    height: 0;
    background-color: rgba(255,255,255,0.25);
    color: rgba(255,255,255,0.8);
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 200;
    text-align: center;
    border-top: 0.45em solid #000;
    transition: height 200ms;
    -moz-box-shadow:    0px -1px 1px -1px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px -1px 1px -1px rgba(255,255,255,0.75);
    box-shadow:         0px -1px 1px -1px rgba(255,255,255,0.75);
    overflow-y: visible;
    z-index: 1;
}*/
.drawer-contents {
    position: relative;
    margin: 0;
    padding: 0;
    display: none;
    height: 100%;
    overflow-y: scroll;
    z-index: 1;
}



/* Drawer Tabs */

.drawer-tab {
    position: relative;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,1);
    width: 6.25em;
    text-align: center;
    -o-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 4pt 4pt 0 0;
    padding: 0.15em 0.5em;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 2;
}
.drawer-tab-left {
              position: absolute;
                   top:  4.75em;
                 right: -4.45em;
     -webkit-transform: rotate(90deg);
             transform: rotate(90deg);
       -moz-box-shadow: 0pt -2pt 3pt 0pt rgba(255,255,255,0.75);
    -webkit-box-shadow: 0pt -2pt 3pt 0pt rgba(255,255,255,0.75);
            box-shadow: 0pt -2pt 3pt 0pt rgba(255,255,255,0.75);
}
#drawer-viewport-controls-left {
    position: absolute;
    top: 0;
    right: -0.2em;
    cursor: pointer;
}
#drawer-viewport-controls-right {
    position: absolute;
    top: 0;
    left: -2em;
    cursor: pointer;
}
.drawer-tab-right {
              position: absolute;
                   top:  4.75em;
                  left: -4.45em;
     -webkit-transform: rotate(-90deg);
             transform: rotate(-90deg);
       -moz-box-shadow: 0pt -2pt 3pt 0pt rgba(255,255,255,0.75);
    -webkit-box-shadow: 0pt -2pt 3pt 0pt rgba(255,255,255,0.75);
            box-shadow: 0pt -2pt 3pt 0pt rgba(255,255,255,0.75);
}
/*.drawer-tab-bottom {
    position: relative;
    margin: -2.2em auto 0 auto;
}*/




/* Accordions */

.accordion {
    position: relative;
    color: rgba(255,255,255,0.8);
    margin-top: 0.5em;
}
.accordion .header {
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.75);
}
.accordion .header:hover {
    background-color: black;
}
.accordion .header h1 {
    font-size: 1em;
    display: inline-block;
    margin: 0.2em 0;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 500;
    color: rgba(255,255,255,0.9);
}
.accordion .header:hover h1 {
    color: rgba(255,255,255,1);
}
.disclosure-triangle {
    cursor: pointer;
    color: rgba(255,255,255,0.9);
    font-size: 0.8em;
    padding: 0 0.1em 0 0.5em;
    display: inline-block;
    text-align: center;
    width: 1em;
}
.accordion .header:hover .disclosure-triangle {
    color: rgba(255,255,255,1);
}
.disclosure-triangle .closed {
}
.disclosure-triangle .opened {
}
.accordion .content {
    display: none;
    background-color: rgba(0,0,0,0.6);
    padding: 0.75em;
    font-size: 0.75em;
}
.accordion .content .row {
    position: relative;
}
.accordion .content .ui-icon {
    color: rgba(255,255,255,0.8);
}
.accordion .content .blog {
    margin-bottom: 0.5em;
}
.accordion .content a {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}
.accordion .content a:hover {
    text-decoration: none;
    color: rgba(255,255,255,1);
}
.accordion .content .text {
    padding-left: 2.5em;
}
.accordion a.ui-icon:hover {
    text-decoration: none;
    border: none;
}
.accordion .row {
    margin-bottom: 0.75em;
    width: 100%;
    position: relative;
}
.accordion .row:first-child {
    margin-bottom: 1.5em;
}
.accordion .row .label {
    display: inline-block;
    width: 5em;
    text-align: right;
    padding-right: 0.5em;
    font-weight: 500;
    font-size: 1.2em;
    float: left;
}
.accordion .row .field {
    display: inline-block;
    text-align: left;
}
.accordion input[type=text] {
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.6);
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    color: rgba(255,255,255,1);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    padding: 0.3em 0.5em;
    width: 6em;
    text-align: center;
}
.accordion select {
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.6);
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    color: rgba(255,255,255,1);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    padding: 0.3em 0.5em;
    vertical-align: middle;
}
.row .field .suffix {
    display: inline-block;
    margin-left: 0.2em;
}
.row .ui-icon.ui-datepicker-trigger {
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
    float: right;
    margin: 0;
    padding: 0;
}
.row .ui-icon:hover {
    color: rgba(255,255,255,1);
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.contextual-help {
    color: rgba(255,255,255,0.5);
    font-size: 1em;
    padding: 0.33em;
}
.contextual-help:hover {
    color: rgba(255,255,255,1);
}





/**
 * Helioviewer.org Custom Styles
*/

/* HTML elements */

#col2 input, #col2 select {background-color:#F4F4F4;}
#left-col-header, #right-col-header {height: 50px; margin-top: -12px;}

/* Viewport */
#helioviewer-viewport-container-inner {
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width:100%;
    height:100%;
}
#helioviewer-viewport-container-outer {
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width:100%;
    height:100%;
}

.glow {
    -moz-box-shadow:    0px 0px 1px 1px yellow;
    -webkit-box-shadow: 0px 0px 1px 1px yellow;
    box-shadow:         0px 0px 1px 1px yellow;
}

/* Logo */
#helioviewer-logo-main {
    margin-top:12px;
    margin-left: 9px;
}


/* Opacity Slider */
.opacity-slider-track {
    margin: 4px 0 9px 0;
    background: url(../../resources/images/blackGlass/glass_slider_trough_horiztonal_white.png) transparent scroll 0%;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px;
    float: left;
}

.opacity-slider-track > .ui-slider-handle {
    background-color: #565656;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    height:19px;
    width: 10px;
    top:-6px;
}

/* Message Console */
#message-console .message-console-link {
    text-decoration: none;
    font-weight: bold;
    color: #3d76e0;
}

#message-console .message-console-link:hover {
    text-decoration: underline;
    color: #e03d76;
}

/* Text-icon buttons */
div.text-btn, a.text-btn {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    float: left;
    color: white;
    margin: 0 5px;
}

div.text-btn:hover {
    color: #d18f61;
}

span.ui-icon-hover, div.ui-icon-hover {
    background-image: url(../../lib/jquery.ui-1.8/css/dot-luv-modified/images/ui-icons_d18f61_256x240.png) !important;
}

.section-header {
    font-weight: bold;
}
.section-header a {
    text-decoration: none;
    color: inherit;
}
.section-header a:hover {
    color: #d18f61;
}

/** Meta links **/
#footer-container-outer {
    position: relative;
}

#footer-container-inner {
    position: absolute;
    width: 100%;
    height: 18px;
    top: 10px;
    border-color: #262424;
    border-width: 1px 0px 0px 0px;
}

#footer-links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#footer-links > a {
    vertical-align: middle;
    color: #DCDCDC;
    font-size: 11px;
    margin: 0 10px;
}

#footer-links > a:hover {
    color: #d18f61;
}

/* jGrowl */
#message-console {
    position: absolute;
    top: 13px;
    right: 0px;
}

#message-console .jGrowl-notification, #message-console .jGrowl-closer {
   background: #CCD9D9;
   color: #262424;
}

#message-console .jGrowl-message a {
    text-decoration: none;
    color: #262424;
}

/* Social & Movie buttons */
#social-buttons {
    background-color: #2A2A2A;
    position: absolute;
    right: 17px;
    top:0px;
    padding: 1px 0px 1px 8px;
    border-top: 0px;
    border-bottom: 1px solid #262424;
    border-left: 1px solid #262424;
    border-right: 0px;
    font-size: 11px;
    height: 15px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Blog entries */
#social-panel {
    height: 100%;
    font-size: 11px;
    padding: 4px 2px 6px;
    margin: 0 5px;
}
#social-panel.ui-widget-content {
    background: none;
    border: none;
}
#social-panel .blog-entry {
    margin: 4px 4px 14px 4px;
}

#social-panel .blog-entry a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
#social-panel .blog-entry a:hover {
    color: yellow;
}

#social-panel .article-date {
    font-style: italic;
}

#more-articles {
    text-align: right;
}

#more-articles a {
   text-decoration: none;
}

#more-articles a:hover {
    color: yellow;
}

/* Image Area Select */
#image-area-select-buttons {
    display: none;
    position: absolute;
    width: 100%;
    height: 3em;
    background: black;
    padding: 0;
    margin: 0;
    color: yellow;
    text-align: center;
    z-index: 9999;
}

#image-area-select-container {
    position: relative;
    cursor: crosshair;
    z-index: 5;
    width:100%;
    height:100%;
    display: none;
}

#image-area-select-buttons .text-btn {
    color: rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.00);
    border: 1px solid rgba(255,255,255,0.8);
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: 0.35em 0.8em 0.4em 0.4em;
    font-weight: 400;
    text-align: center;
    margin: 0.5em 0.4em;
}
#done-selecting-image.text-btn {
    border-color: #00ff00;
    color: #00ff00;
}
#cancel-selecting-image.text-btn {
    border-color: red;
    color: red;
}

/** Settings dialog */

#settings-dialog {
    display:none;
    margin: 15px 15px 0 15px;
    font-size: 1em;
}

#helioviewer-settings label {
    display: inline-block;
    margin: 5px 2px 0 0;
}

#helioviewer-settings fieldset {
    padding: 2px 10px;
}

#helioviewer-settings legend {
    margin-left: -10px;
    font-weight: 500;
    color: white;
}

#helioviewer-settings input {
    margin: 1px 5px;
}


/** Debugging */
#debug-dimensions {
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: white;
}

.fa:hover {
    color: yellow;
}

.text-button {
    color: rgba(255,255,255,0.8);
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0);
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: 0.1em 0.4em;
    font-weight: 200;
}
.text-button:hover {
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,1);
}
.text-button a:hover {
    text-decoration: none;
    background-color: transparent;
}
.text-button:active {
    color: yellow;
    border: 1px solid yellow;
}
.text-button a:active {
    text-decoration: none;
    color: yellow;
}
.drawer-contents .row .buttons .text-button.inactive,
.drawer-contents .row .buttons .text-button.inactive:hover,
.drawer-contents .row .buttons .text-button.inactive:active {
    border: 1px solid rgba(255,255,255,0.25);
    color: rgba(255,255,255,0.25);;
}


#user-video-gallery.ui-widget-content {
    background: none;
    border: none;
}

#helioviewer-header #link-button:hover {
    color: blue;
}

#helioviewer-header #twitter-button:hover {
    color: #00aced;  /* twitter logo blue */
}
#helioviewer-header #facebook-button:hover {
    color: #3b5998;  /* facebook logo blue */
}
#helioviewer-header #pinterest-button:hover {
    color: #cb2027;  /* pinterest logo red */
}
#helioviewer-header #youtube-button:hover {
    color: #bb0000;  /* youtube logo red */
}

#helioviewer-header .social-button:hover {
    background-color: white;
    -o-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    border-color: black;
    cursor: pointer;
}

.drawer-contents .top-shadow{
    height: 0.75em;
    position: fixed;
    top: 3em;
    width: 25em;
    z-index: 3;
    background: -o-linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0));
    background: -moz-linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0));
    background: -webkit-linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0));
    background: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0));
}
.drawer-contents .bottom-shadow {
    height: 0.75em;
    position: fixed;
    bottom: 0.4em;
    width: 25em;
    z-index: 3;
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
}