/**
 * Helioviewer.org Custom Styles
*/

/* HTML elements */
html, body {
    background-image: url('../../resources/images/backgrounds/gradient_v5-optimized.png');
    background-color: #20242F;
    background-repeat: repeat-x;
    /*background-size: 40px 100%;
    -webkit-background-size: 40px 100%;*/
}
#col2 input, #col2 select {background-color:#F4F4F4;}
#left-col-header, #right-col-header {height: 50px; margin-top: -12px;}

/* Viewport */
#helioviewer-viewport-container-inner {
    position: absolute;
    top:0;
    left: 0;
    display: block;
    /*top:3%;*/
    width:100%;
    height:100%;/*
    margin-left:auto;
    margin-right: auto;*/
    /*border: 1px solid #262424;*/
}
#helioviewer-viewport-container-outer {
    /*height: 520px;*/
    /*border:1px solid black;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;*/
}

/* CSS effects */
/*.shadow {
box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}*/
.glow {
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

/* Logo */
#helioviewer-logo-main {
    margin-top:12px;
    margin-left: 9px;
}

/* Loading Indicator */
#loading {
    position: absolute;
    right: 7px;
    padding: 7px;
    font-size: 13px;
    color: #606364;
}

/* Opacity Slider */
.opacity-slider-track {
    margin: 4px 0 9px 0;
    background: url(../../resources/images/blackGlass/glass_slider_trough_horiztonal_white.png) transparent scroll 0%;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px;
    float: left;
}

.opacity-slider-track > .ui-slider-handle {
    background-color: #565656;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    height:19px;
    width: 10px;
    top:-6px;
}

/* Message Console */
#message-console .message-console-link {
    text-decoration: none;
    font-weight: bold;
    color: #3d76e0;
}

#message-console .message-console-link:hover {
    text-decoration: underline;
    color: #e03d76;
}

/* Text-icon buttons */
div.text-btn, a.text-btn {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    float: left;
    color: white;
    margin: 0 5px;
}

div.text-btn:hover {
    color: #d18f61;
}

span.ui-icon-hover, div.ui-icon-hover {
    background-image: url(../../lib/jquery.ui-1.8/css/dot-luv-modified/images/ui-icons_d18f61_256x240.png) !important;
}

.section-header {
    font-weight: bold;
}
.section-header a {
    text-decoration: none;
    color: inherit;
}
.section-header a:hover {
    color: #d18f61;
}

/** Meta links **/
#footer-container-outer {
    position: relative;
}

#footer-container-inner {
    background-image: url(../../resources/images/backgrounds/ui-bg_gloss-wave_20_111111_500x100_transparent_15.png);
    position: absolute;
    width: 100%;
    height: 18px;
    top: 10px;
    border-color: #262424;
    border-width: 1px 0px 0px 0px;
}

#footer-links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#footer-links > a {
    vertical-align: middle;
    color: #DCDCDC;
    font-size: 11px;
    margin: 0 10px;
}

#footer-links > a:hover {
    color: #d18f61;
}

/* jGrowl */
#message-console {
    position: absolute;
    top: 13px;
    right: 0px;
}

#message-console .jGrowl-notification, #message-console .jGrowl-closer {
   background: #CCD9D9;
   color: #262424;
}

#message-console .jGrowl-message a {
    text-decoration: none;
    color: #262424;
}

/* Social & Movie buttons */
#social-buttons {
    background-color: #2A2A2A;
    position: absolute;
    right: 17px;
    top:0px;
    padding: 1px 0px 1px 8px;
    border-top: 0px;
    border-bottom: 1px solid #262424;
    border-left: 1px solid #262424;
    border-right: 0px;
    font-size: 11px;
    height: 15px;
    border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
}

#fullscreen-btn {
    position: absolute;
    background-color: #2A2A2A;
    border-bottom: 1px solid #262424;
    border-left  : 1px solid #2A2A2A;
    padding-top: 1px;
    top:0px;
    right: 0px;
    cursor: pointer;
}

#morescreen-btn {
    float: right;
}

/* Blog entries */
#social-panel {
    height: 100%;
    min-height: 150px;
    font-size: 11px;
    padding: 4px 2px 6px;
    margin: 0 5px;
}

#social-panel .blog-entry {
    margin: 4px 4px 14px 4px;
}

#social-panel .blog-entry a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
#social-panel .blog-entry a:hover {
    color: #D18F16;
}

#social-panel .article-date {
    font-style: italic;
}

#more-articles {
    text-align: right;
}

#more-articles a {
   text-decoration: none;
}

#more-articles a:hover {
    color: #D18F16;
}

/* Image Area Select */
#image-area-select-buttons {
    position: absolute;
    top:0px;
    right:0px;
    width: 150px;
    background: #2A2A2A;
    font-size: 13px;
    padding: 8px;
    -moz-border-radius: 0 0 0px 5px;
    -webkit-border-radius: 0 0 0px 5px;
    color: white;
    z-index: 10;
    display: none;
}

#image-area-select-container {
    position: relative;
    cursor: crosshair;
    z-index: 5;
    width:100%;
    height:100%;
    display: none;
}

#image-area-select-buttons .ui-icon {
    float: left;
}

/** Settings dialog */

#settings-dialog {
    display:none;
    margin: 15px 15px 0 15px;
    font-size: 1em;
}

#helioviewer-settings label {
    display: inline-block;
    margin: 5px 2px 0 0;
}

#helioviewer-settings fieldset {
    padding: 2px 10px;
}

#helioviewer-settings legend {
    margin-left: -10px;
    font-style: italic;
    color: white;
}

#helioviewer-settings input {
    margin: 1px 5px;
}


/** Debugging */
#debug-dimensions {
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: white;
}
