/*
	Minimal View CSS
*/

.helioviewer-view-type-minimal #image-area-select-buttons{
	height:4em;
}

.helioviewer-view-type-minimal #loading {
           z-index: 9999;
          position: absolute;
               top: 0;
             width: 100%;
            height: 100%;
            margin: 0 auto;
           padding: 0.65em 0;
        text-align: center;
    vertical-align: middle;
             color: rgba(255,255,255,0.8);
         font-size: 1.2em;
       font-weight: 400;
}

.helioviewer-view-type-minimal #loading > span {
        background-color: rgba(64,64,64,1);
                 padding: 0.2em 0.25em 0.25em 0.25em;
        -o-border-radius: 4pt;
      -moz-border-radius: 4pt;
   -webkit-border-radius: 4pt;
           border-radius: 4pt;
}
.helioviewer-view-type-minimal #loading .fa-circle-o-notch {
   vertical-align: 0.05em;
}

.helioviewer-view-type-minimal #youtube-button,
.helioviewer-view-type-minimal #movies-button,
.helioviewer-view-type-minimal #screenshots-button{
	color:rgba(255, 255, 255, 0.8);
	cursor:pointer;
}


/* YOUTUBE */
.helioviewer-view-type-minimal #youtube-button:hover,
.helioviewer-view-type-minimal #youtube-button.opened {
   color: rgba(187,0,0,1);  /* youtube logo red */
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
   right:90px;
}
.helioviewer-view-type-minimal #youtube-button.opened:hover {
   color: rgba(187,0,0,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
.helioviewer-view-type-minimal #youtube-button:active {
   color: rgba(187,0,0,0.75);
}


/* MOVIES */
.helioviewer-view-type-minimal #movies-button:hover,
.helioviewer-view-type-minimal #movies-button.opened {
   color: rgba(175,0,255,1);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
   
}
.helioviewer-view-type-minimal #movies-button.opened:hover {
   color: rgba(175,0,255,1);
   background-color: rgba(255,255,255,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
.helioviewer-view-type-minimal #movies-button:active {
   color: rgba(175,0,255,0.75);
}


/* SCREENSHOTS */
.helioviewer-view-type-minimal #screenshots-button:hover,
.helioviewer-view-type-minimal #screenshots-button.opened {
   color: rgba(0, 167, 125, 0.75);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
.helioviewer-view-type-minimal #screenshots-button.opened:hover {
   color: rgba(0, 167, 125, 0.75);
   background-color: rgba(255,255,255,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
.helioviewer-view-type-minimal #screenshots-button:active {
   color: rgba(0, 167, 125, 0.75);
}

/* HELP */
.helioviewer-view-type-minimal #help-button:hover {
   color: rgba(191, 0, 0, 0.75);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
.helioviewer-view-type-minimal #help-button:active {
   color: rgba(191, 0, 0, 0.75);
}
.helioviewer-view-type-minimal #help-anchor {
    color: #cccccc;
}


.helioviewer-view-type-minimal .social-button {
   font-size: 30px;
   padding: 0.15em;
   position:fixed;
   top:10px;
   right:10px;
   z-index:999;
}

.helioviewer-view-type-minimal .social-button:hover {
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
   /*cursor: pointer;*/
}

.helioviewer-view-type-minimal #movies-button{right:155px;}
.helioviewer-view-type-minimal #screenshots-button{right:90px; }
.helioviewer-view-type-minimal #help-button{right:30px; }

/*
	ZOOM
*/
.helioviewer-view-type-minimal #zoom{
	margin-top:35px;
	margin-left: 2px;
	z-index: 3;
	position:absolute;
	bottom:1em;
	left:18px;
	width:30px;
	height: 300px;
}

.helioviewer-view-type-minimal #zoomControls{
	position: relative;
    left: 0px;
    top: 0px;
}

/*
	layersPresetsList
*/

.helioviewer-view-type-minimal .layersPresetsList{
	position:fixed;
	top:10px;
	left:10px;
	z-index:4;
}

.helioviewer-view-type-minimal #images-presets-dropdown{
	color:rgba(255, 255, 255, 0.8);
	cursor:pointer;
	font-size:30px !important;
	padding: 0em 0.15em;
	line-height: 30px;
	width:30px;
	height:30px;
	text-align:center;
	vertical-align: middle;
}

.helioviewer-view-type-minimal #images-presets-dropdown:hover,
.helioviewer-view-type-minimal #images-presets-dropdown.opened {
   color: rgba(64,64,64,1);
   background-color: white;
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
   right:90px;
}
.helioviewer-view-type-minimal #images-presets-dropdown.opened:hover {
   color: rgba(64,64,64,1);
   -o-border-radius: 0.2em;
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   border-radius: 0.2em;
   border-color: black;
}
.helioviewer-view-type-minimal #images-presets-dropdown:active {
   color: rgba(64,64,64,1);
}

.helioviewer-view-type-minimal .dropdown-holder li ul{
	top:35px;
}

.helioviewer-view-type-minimal .dropdown-holder li ul li:last-child{
	display:none;
}

.helioviewer-view-type-minimal .dropdown-holder .item-list-remove{
	display:none !important;
}



/*
	DRAWERS
*/
.helioviewer-view-type-minimal .hv-drawer-right{
	top: 5em;
	right:5px;
	border-radius: 4pt;
	-o-border-radius: 4pt;
   -moz-border-radius: 4pt;
   -webkit-border-radius: 4pt;
   border-radius: 4pt;
   -moz-box-shadow:   0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
   -webkit-box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
   box-shadow:       0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
}

.helioviewer-view-type-minimal .drawer-contents > div{
	margin-top:0px;
}

.helioviewer-view-type-minimal .drawer-contents .content{
	padding:0px;
}


.helioviewer-view-type-minimal .hv-drawer-date{
	display:block !important;
	left:10px;
	top:10px;
	position:absolute;
    height: auto;
    width: 28.5em;
	overflow: hidden;
}


/*
*
*   k12 specific style changes
*
*/

.k12-timeNowBtn {
    margin-top: -3.4em;
    vertical-align: top;
    border: 1px solid #cccccc;
    border-radius: 1.0em;
    padding: 0.4em;
}

.k12-timeNowBtn:hover{
    border: 1px solid yellow;
}

.k12-eventsVisBtn {
    display: block;
    margin-top: -3em;
    margin-left: 22.4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.9em;
    border: 1px solid #cccccc;
    border-radius: 1.0em;
}

.k12-eventsVisBtn:hover{
    border: 1px solid yellow;
    color: yellow;
}

 /* Header Buttons */
 #k12-scale .viewport-action, #hv-drawer-timeline .viewport-action, #hv-drawer-timeline-events .viewport-action {
    position: relative;
     display: inline-block;
       width: 1em;
      height: 1em;
      margin: -1px 0 0 0;
     padding: 4pt;
background-color: rgba(255,255,255,0.75);
       color: black;
      border: 2px solid rgba(0,0,0,1);
   font-size: 12pt;
  text-align: center;
vertical-align: middle;
 line-height: 1em;
-o-border-radius: 16px;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 16px;
      cursor: pointer;
}
#k12-scale .viewport-action:hover, #hv-drawer-timeline .viewport-action:hover, #hv-drawer-timeline-events .viewport-action:hover {
  color: rgba(255,255,255,0.75);
border-color: rgba(255,255,255,0.75);
background-color: rgba(0,0,0,0.75);
/* -moz-box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
-webkit-box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);
box-shadow: 0pt 0pt 4pt 1pt rgba(255,255,255,0.75);*/
}
#k12-scale .viewport-action:active, #hv-drawer-timeline .viewport-action:active, #hv-drawer-timeline-events .viewport-action:active {
  color: #cb2027;
border-color: #cb2027;
background-color: black;
}
#k12-scale .viewport-action.active {
  color: #cb2027;
border-color: #cb2027;
background-color: white;
}
#k12-scale .viewport-action.active:hover {
  color: rgba(255,255,255,0.75);
border-color: rgba(255,255,255,0.75);
background-color: rgba(0,0,0,0.75);
}
#k12-scale .viewport-action.active:active {
  color: #cb2027;
border-color: #cb2027;
background-color: black;
}

#k12-scale .viewport-action.segmented-left {
-o-border-radius: 12px 0 0 12px;
-moz-border-radius: 12px 0 0 12px;
-webkit-border-radius: 12px 0 0 12px;
border-radius: 12px 0 0 12px;
      border: 2px 0px 2px 2px;
border-right-color: black;
}
#k12-scale .viewport-action.segmented-left:hover,
#k12-scale .viewport-action.segmented-left:active,
#k12-scale .viewport-action.segmented-left.active:active {
border-right-color: black;
}
#k12-scale .viewport-action.segmented-left.active:hover {
    color: rgba(255,255,255,0.75);
border-color: rgba(255,255,255,0.75);
border-right-color: rgba(0,0,0,0.75);
background-color: rgba(0,0,0,0.75);
}
#k12-scale .viewport-action.segmented-middle {
-o-border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
      border: 2px 0;
}
#k12-scale .viewport-action.segmented-right {
 margin-left: -1px;
-o-border-radius: 0 12px 12px 0;
-moz-border-radius: 0 12px 12px 0;
-webkit-border-radius: 0 12px 12px 0;
border-radius: 0 12px 12px 0;
      border: 2px 2px 2px 0px;
}
#k12-scale .viewport-action.segmented-right:hover,
#k12-scale .viewport-action.segmented-right:active,
#k12-scale .viewport-action.segmented-right.active:active {
border-left-color: black;
}
#k12-scale .viewport-action.segmented-right.active:hover {
    color: rgba(255,255,255,0.75);
border-color: rgba(255,255,255,0.75);
border-left-color: rgba(0,0,0,0.75);
background-color: rgba(0,0,0,0.75);
}

#k12-scale {
    position: absolute;
   min-width: 1024px;
       width: 100%;
  min-height: 3em;
      height: 3em;
  max-height: 3em;
     z-index: 1;
      bottom: 1.1em;
       color: rgba(255,255,255,0.9);
}

