/**
 * Helioviewer.org Custom Styles
*/

/* HTML ELEMENTS */
html, body    {background: url(../../resources/images/backgrounds/gradient_v5-optimized.png); font-family: arial,helvetica,liberation sans,bitstream vera sans,freesans,clean,sans-serif;}
button        {cursor:pointer}
strong    	  {font-weight:bold;}
input, select {background-color:#F4F4F4;}

#left-col-header, #right-col-header {height: 50px; margin-top: -24px;}

/** 03/14/2010: Temporary fix for datepicker. TODO: upgrade jQuery UI */
#ui-datepicker-div {display:none;}

/* Loading Indicator */
#loading {position: absolute; right: 3px; padding: 3px; font-size: 12px; background-color:#858585; color: #F0F0F0;}

/* Observation controls */
#observation-controls {
    padding: 2px 2px 8px 2px;
    margin: 0px 5px 0px 5px;
    border: 1px solid black;
    color: white;
    font-size: 0.95em;
}

#observation-controls > div > input, #observation-controls > div > select {
    border: 1px solid #5c5c5c;
}

/* Center button */
#center-button {
    background: transparent url(../../resources/images/blackGlass/transparentBGWhite.png);
    font-size: 0.8em;
	width:54px;
	height:16px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	text-align:center;
	cursor: pointer;
}

#center-button > span {
	color: #E8E8E8;
    font-weight: bold;
    vertical-align: top;
    line-height: 1.0;
}

/* Coordinates */
#mouse-coords {
	background: transparent;
	color: white;
    font-size: 13px;
	font-weight: 600;
	width: 160px;
	height: 16px;
	position: absolute;
    bottom: 6px;
	right: 2px;
}

#mouse-coords-x, #mouse-coords-y {
    width: 50%;
    float: left;
}

/* Zoom controls */
#zoomControls {
    position: absolute;
    left: 16px;
    top:39px;
    z-index:20;
}

/* Message Console */
#message-console .message-console-link {
	text-decoration: none;
	font-weight: bold;
	color: #3d76e0;
}

#message-console .message-console-link:hover {
	text-decoration: underline;
	color: #e03d76;
}

/* Calendar */
#date {
	width:80px;
    vertical-align: top;
	margin-right: 2px;
    margin-top: 1px;
}

/* Movie Builder */
img#movieBuilder {
	position: relative;
	cursor: pointer;
	margin: 2px;
	vertical-align: middle;
	top: -4px;
}

a.dark {
	text-decoration: none;
	font-weight: bold;
	color: #262424;
	}
a.dark:hover {
    color: #d18f61;
	}
a.light {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #E8E8E8;
}
a.light:hover {
    color: #d18f61;
}

/* Text+icon buttons */

div.text-btn {
    cursor: pointer;
    display: inline-block;
    float: left;
    color: white;
    margin: 0 5px;
}

div.text-btn:hover {
    color: #d18f61;
}

span.ui-icon-hover {
    background-image: url(../../lib/jquery.ui-1.8/css/dot-luv-modified/images/ui-icons_d18f61_256x240.png) !important;
}

.italic {
    font-style: italic;
}

.section-header {
	font-weight: bold;
}

/* Shadowbox modifications */
#sb-body, #sb-loading {
	background: transparent url(../../resources/images/blackGlass/transparentBG50.png);
    border-color: #262424;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#sb-wrapper-inner {
	 border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/* Social & Movie buttons */
#social-buttons {
    background-color: #2A2A2A;
    position: absolute;
    right: 17px;
    top:0px;
    padding: 1px 0px 1px 8px;
    border-top: 0px;
    border-bottom: 1px solid #262424;
    border-left: 1px solid #262424;
    border-right: 0px;
    font-size: 11px;
    height: 15px;
	border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
}

/** Meta links **/
#footer-container-outer {
    position: relative;    
}

#footer-container-inner {
    background-image: url(../../resources/images/backgrounds/ui-bg_gloss-wave_20_111111_500x100_transparent_15.png);
	position: absolute;
    width: 100%;
    height: 18px;
	top: 10px;
    border-color: #262424;
    border-width: 1px 0px 0px 0px;
}

#footer-links {
    text-align: center;
    width: 25%;
    min-width: 575px;
    margin-left: auto;
    margin-right: auto;        
}

#footer-links > a {
    vertical-align: middle;
    color: #DCDCDC;
    font-size: 11px;
    margin-right: 20px;
}

#footer-links > a:hover {
    color: #d18f61;
}

/* URL dialog */
#helioviewer-url-box {
    padding: 10px;
    color: white;
}

/* Email dialog */
#helioviewer-url-box > form > label {
    float:left;
    display:block;
}
#helioviewer-url-box > form > input[type="text"] {
    display:block;
}

#helioviewer-url-box > form > label
{
    margin-right: 5px;
    width: 50px;
}

/* jGrowl */
#message-console {
    position: absolute;
    top: 13px;
    right: 0px;
}

#message-console .jGrowl-notification, #message-console .jGrowl-closer {
   background: Azure;
   color: #262424;
}

/* Google Chrome Frame Installer */
.chromeFrameOverlayContent  {border:1px solid #303030;}
.chromeFrameOverlayUnderlay {background: #000; opacity: 0.5;}

/* Social panel */
#social-panel {
    height: 100%;
    min-height: 150px;
    font-size: 11px;
    padding: 2px 2px 8px;
    margin: 0 5px;
}

#social-panel .blog-entry {
    margin: 4px 4px 14px 4px;
}

#social-panel .blog-entry a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
#social-panel .blog-entry a:hover {
    color: #D18F16;
}

#social-panel .article-date {
    font-style: italic;
}

#more-articles {
    text-align: right;
}

#more-articles a {
   text-decoration: none;
}

#more-articles a:hover {
    color: #D18F16;
}

#user-uploads-panel {
    height: 100%;
    min-height: 150px;
    font-size: 11px;
    padding: 2px 2px 8px;
    margin: 0 5px;
}

#user-uploads-panel a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;  
}

#user-uploads-panel a:hover {
    color: #D18F16;  
}

#user-uploads-panel img {
    width: 215px;
    margin-left: auto;
    margin-right: auto;
}

#yt-logo {
    float: left;
    margin-right: 5px;
}

.user-video-thumbnail-container {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
