/**
 * Helioviewer.org Custom Styles
*/

/* HTML ELEMENTS */
html, body {background: #20242F url('../../resources/images/backgrounds/gradient_v5-optimized.png') repeat-x; font-family: arial,helvetica,liberation sans,bitstream vera sans,freesans,clean,sans-serif;}
button     {cursor:pointer}
strong     {font-weight:bold;}
#col2 input, #col2 select {background-color:#F4F4F4;}
#left-col-header, #right-col-header {height: 50px; margin-top: -24px;}

/* Google Chrome Frame Installer */
.chromeFrameOverlayContent  {border:1px solid #303030;}
.chromeFrameOverlayUnderlay {background: #000; opacity: 0.5;}

/* Text styles */
a.dark {
    text-decoration: none;
    font-weight: bold;
    color: #262424;
    }
a.dark:hover {
    color: #d18f61;
    }
a.light {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #E8E8E8;
}
a.light:hover {
    color: #d18f61;
}

/* Loading Indicator */
#loading {
    position: absolute;
    right: 3px;
    padding: 3px;
    font-size: 12px;
    background-color:#858585;
    color: #F0F0F0;
}

/* Center button */
#center-button {
    background: transparent url(../../resources/images/blackGlass/transparentBGWhite.png);
    font-size: 0.8em;
	width:54px;
	height:16px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	text-align:center;
	cursor: pointer;
}

#center-button > span {
	color: #E8E8E8;
    font-weight: bold;
    vertical-align: top;
    line-height: 1.0;
}

/* Mouse Coordinates */
#mouse-coords {
	background: transparent;
	color: white;
    font-size: 13px;
	font-weight: 600;
	width: 160px;
	height: 16px;
	position: absolute;
    bottom: 6px;
	right: 2px;
}

#mouse-coords-x, #mouse-coords-y {
    width: 50%;
    float: left;
}

/* Message Console */
#message-console .message-console-link {
	text-decoration: none;
	font-weight: bold;
	color: #3d76e0;
}

#message-console .message-console-link:hover {
	text-decoration: underline;
	color: #e03d76;
}

/* Text-icon buttons */
div.text-btn {
    cursor: pointer;
    display: inline-block;
    float: left;
    color: white;
    margin: 0 5px;
}

div.text-btn:hover {
    color: #d18f61;
}

span.ui-icon-hover, div.ui-icon-hover {
    background-image: url(../../lib/jquery.ui-1.8/css/dot-luv-modified/images/ui-icons_d18f61_256x240.png) !important;
}

.section-header {
	font-weight: bold;
}

/** Meta links **/
#footer-container-outer {
    position: relative;    
}

#footer-container-inner {
    background-image: url(../../resources/images/backgrounds/ui-bg_gloss-wave_20_111111_500x100_transparent_15.png);
	position: absolute;
    width: 100%;
    height: 18px;
	top: 10px;
    border-color: #262424;
    border-width: 1px 0px 0px 0px;
}

#footer-links {
    text-align: center;
    width: 25%;
    min-width: 585px;
    margin-left: auto;
    margin-right: auto;        
}

#footer-links > a {
    vertical-align: middle;
    color: #DCDCDC;
    font-size: 11px;
    margin-right: 20px;
}

#footer-links > a:hover {
    color: #d18f61;
}

/* jGrowl */
#message-console {
    position: absolute;
    top: 13px;
    right: 0px;
}

#message-console .jGrowl-notification, #message-console .jGrowl-closer {
   background: #CCD9D9;
   color: #262424;
}

#message-console .jGrowl-message a {
    text-decoration: none;
    color: #262424;
}

/* Social & Movie buttons */
#social-buttons {
    background-color: #2A2A2A;
    position: absolute;
    right: 17px;
    top:0px;
    padding: 1px 0px 1px 8px;
    border-top: 0px;
    border-bottom: 1px solid #262424;
    border-left: 1px solid #262424;
    border-right: 0px;
    font-size: 11px;
    height: 15px;
    border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
}

/* Blog entries */
#social-panel {
    height: 100%;
    min-height: 150px;
    font-size: 11px;
    padding: 4px 2px 6px;
    margin: 0 5px;
}

#social-panel .blog-entry {
    margin: 4px 4px 14px 4px;
}

#social-panel .blog-entry a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
#social-panel .blog-entry a:hover {
    color: #D18F16;
}

#social-panel .article-date {
    font-style: italic;
}

#more-articles {
    text-align: right;
}

#more-articles a {
   text-decoration: none;
}

#more-articles a:hover {
    color: #D18F16;
}

/* Image Area Select */
#image-area-select-buttons {
    position: absolute;
    top:0px;
    right:0px;
    width: 150px;
    background: #2A2A2A;
    font-size: 13px;
    padding: 8px;
    -moz-border-radius: 0 0 0px 5px;
    -webkit-border-radius: 0 0 0px 5px;
    color: white;
    z-index: 10;
    display: none;
}

#image-area-select-container {
    position: relative;
    cursor: crosshair;
    z-index: 5;
    width:100%;
    height:100%;
    display: none;
}

#image-area-select-buttons .ui-icon {
    float: left;
}
