/**
 * Movie and screenshot manager styles
 */
.media-manager-container {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 190px;
    background: #2A2A2A;
    font-size: 11px;
    padding: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    /*border: 1px solid #A9A9A9;*/
    color: white;
    display: none;
}

#screenshot-manager-container {
    right: 15px;
}

#movie-manager-container {
    right: 75px;
}

#movie-manager-header {
    
}

#screenshot-manager-header {
    background: url('../../resources/images/Media Icons/Pictures_Gradient_48x42.png') no-repeat;
    height: 42px;
    padding-left: 32px;
}

#movie-manager-header {
    background: url('../../resources/images/Media Icons/Movies_Gradient_48x42.png') no-repeat;
    height: 42px;
    padding-left: 32px;
}

#movie-manager-header-text, #screenshot-manager-header-text {
    font-size: 24px;
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    line-height: 1.7;
}

.history-entry {
    height: 14px;
    padding: 4px 0px;
}

.media-manager-build-btns {
    height: 18px;
    border-bottom: 1px solid;
    border-top: 1px solid #666666;
    margin-top: 5px;
    padding: 3px 0 5px 0;
}

.media-history-title {
    line-height: 17px;
    font-weight: bold;
    padding: 9px 0px;
    display: none;
}

.status {
    float:right;
    font-size: 8pt;
    font-style: italic;
}

.processing {
    color: #aaf373;
}

.preview-tooltip {
    border-collapse: separate;
    border-spacing: 10px;
}

.screenshot-preview {
    max-width: 95%;
    max-height: 180px;
}

.message-console-movie-ready {
    cursor: pointer;
}

.video-links a:focus
{
    outline: none;
}

#movie-button.selected, #screenshot-button.selected {
    
}

#youtube-auth-loading-indicator {
    width: 188px;
    margin: 150px auto;
}

#youtube-auth-spinner {
    background: url("../../resources/images/ajax-loader-large.gif");
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 10px;
}
