/**
 * Movie and screenshot manager styles
 */
.media-manager-container {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 190px;
    background: #2A2A2A;
    font-size: 11px;
    padding: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    /*border: 1px solid #A9A9A9;*/
    color: white;
    display: none;
}

#screenshot-manager-container {
    right: 15px;
}

#movie-manager-container, #movie-settings-container {
    right: 75px;
}

#movie-settings-container {
    width: 300px;
}

#movie-settings-container label {
    display: inline-block;
    margin: 5px 2px 0 0;
}

#movie-settings-container fieldset {
    padding: 2px 10px;
}

#movie-settings-container legend {
    margin-left: -10px;
    font-style: italic;
    color: white;
}

#movie-settings-container input {
    margin: 1px 5px;
}

#movie-settings-advanced {
    display: none;
}

#movie-settings-btns span {
    cursor: pointer;
}

#movie-settings-submit {
    padding: 5px 5px 0px;
    text-align: right;
}

.history-entry {
    height: 14px;
    padding: 4px 0px;
}

.media-manager-build-btns {
    height: 18px;
}

#movie-button.active .ui-icon, #screenshot-button.active .ui-icon {
    background-image: url(../../lib/jquery.ui-1.8/css/dot-luv-modified/images/ui-icons_d18f61_256x240.png) !important;
}

#movie-button.active, #screenshot-button.active {
    color: #d18f61;
}


.media-history-title {
    line-height: 17px;
    font-weight: bold;
    border-top: 1px solid;
    margin-top: 7px;
    padding: 9px 0px;
    display: none;
}

.status {
    float:right;
    font-size: 8pt;
    font-style: italic;
}

.processing {
    color: #aaf373;
}

.preview-tooltip {
    border-collapse: separate;
    border-spacing: 10px;
}

.screenshot-preview {
    max-width: 95%;
    max-height: 180px;
}

.message-console-movie-ready {
    cursor: pointer;
}

.video-links a:focus
{
    outline: none;
}

#movie-button.selected, #screenshot-button.selected {
    
}

#youtube-auth-loading-indicator {
    width: 188px;
    margin: 150px auto;
}

#youtube-auth-spinner {
    background: url("../../resources/images/ajax-loader-large.gif");
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 10px;
}

.bbcode-btn {
    cursor: pointer;
}
