/**
 * Movie and screenshot manager styles
 */
.media-manager-container {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 190px;
    background: #2A2A2A;
    font-size: 11px;
    padding: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    /*border: 1px solid #A9A9A9;*/
    color: white;
    display: none;
}

#screenshot-manager-container {
    right: 15px;
}

#movie-manager-container {
    right: 75px;
}

.history-entry {
    height: 14px;
    padding: 4px 0px;
}

.media-manager-build-btns {
    height: 18px;
}

.media-history-title {
    line-height:1.6em;
    font-weight: bold;
    padding: 9px 0px;
    border-top: 1px solid;
    display: none;
    margin-top: 7px;
}

.status {
    float:right;
    font-size: 8pt;
    font-style: italic;
}

.processing {
    color: #aaf373;
}

.preview-tooltip {
    border-collapse: separate;
    border-spacing: 10px;
}

.screenshot-preview {
    max-width: 95%;
    max-height: 180px;
}

.message-console-movie-ready {
    cursor: pointer;
}

.video-links a:focus
{
    outline: none;
}

#movie-button.selected, #screenshot-button.selected {
    
}
