/**
 * Movie and screenshot manager styles
 */
.media-manager-container {
    position: relative;
    width: 100%;
    background: none;
    font-size: 12px;
    padding: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    color: white;
    display: none;
    margin: 0px;
}

#screenshot-manager-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#movie-manager-container, #movie-settings-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#movie-settings-container {
    width: 300px;
}

#movie-settings-container label {
    display: inline-block;
    margin: 5px 2px 0 0;
}

#movie-settings-container fieldset {
    padding: 2px 10px;
}

#movie-settings-container legend {
    margin-left: -10px;
    font-style: italic;
    color: white;
}

#movie-settings-container input {
    margin: 1px 5px;
}

#movie-settings-advanced {
    display: none;
}

#movie-settings-btns span {
    cursor: pointer;
}

#movie-settings-submit {
    padding: 5px 5px 0px;
    text-align: right;
}

.history-entry {
    height: 14px;
    padding: 4px 0px;
    clear: both;
}
.history-entry .text-btn {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 180px;
}

#movie-button.active .ui-icon, #screenshot-button.active .ui-icon {
    background-image: url(../lib/jquery-ui-1.12.0/images/ui-icons_d18f61_256x240.png) !important;
}

#movie-button.active, #screenshot-button.active {
    color: #d18f61;
}


.history-entry .label {
    float: left;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.history-entry .status {
    float: right;
    font-size: 8pt;
    font-style: italic;
    text-align: right;
    width: 30%;
}

.processing {
    color: #aaf373;
}

.preview-tooltip {
    border-collapse: separate;
    border-spacing: 10px;
}

.screenshot-preview {
    max-width: 95%;
    max-height: 180px;
}

.message-console-movie-ready {
    cursor: pointer;
}

.video-links a:focus
{
    outline: none;
}

#movie-button.selected, #screenshot-button.selected {

}

#youtube-auth-loading-indicator {
    width: 188px;
    margin: 150px auto;
}

#youtube-auth-spinner {
    background: url("../../resources/images/ajax-loader-large.gif");
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 10px;
}

.bbcode-btn {
    cursor: pointer;
}


.media-manager-build-btns {
    min-height: 3em;
}

.media-manager-build-btns .text-btn {
    color: rgba(255,255,255,1);
    background-color: transparent;
    border: 1px solid rgba(255,255,255,1);
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: 0.1em 0.4em;
    font-weight: 400;
    font-size: 0.8em;
}
.media-manager-build-btns .text-btn:hover {
    color: rgba(255,255,0,1);
    border: 1px solid rgba(255,255,0,1);
}
.media-manager-build-btns .text-btn:active {
    color: yellow;
    border: 1px solid yellow;
}


#screenshot-history-title,
#movie-history-title {
    margin-bottom: 1em;
    font-weight: 400;
}

#movie-player-iframe {
                    width: 100%;
            margin-bottom: 2px;
    -webkit-border-radius: 0.4em;
       -moz-border-radius: 0.4em;
         -o-border-radius: 0.4em;
            border-radius: 0.4em;
         background-color: rgba(255, 255, 255, 0.50);
}

.mejs__overlay-button {
	background-image: url("/resources/lib/mediaelement/build/mejs-controls.svg");
}
.mejs__overlay-loading-bg-img {
	background-image: url("/resources/lib/mediaelement/build/mejs-controls.svg");
}
.mejs__button > button {
	background-image: url("/resources/lib/mediaelement/build/mejs-controls.svg");
}


   #hv-drawer-movies {
      overflow: none !important;
   }

   #movie-manager-container { 
      overflow: auto !important;
      max-height: 500px !important;
   }
	
   #movie-history {
	overflow: auto !important;   
   }

#google {
	display: none;	
}
