/* Observation controls */
#observation-controls {
/*    padding: 2px 2px 8px 2px;
    margin: 0px 5px 0px 5px;
    border: 1px solid black;
    color: white;
    font-size: 12.35px;*/
}

#observation-controls input, #observation-controls select {
    /*border: 1px solid #5c5c5c;*/
}

#observation-date-container {
/*    position: relative;
    margin-bottom: 4px;*/
}

#observation-date-label {
/*    float: left;
    width: 78px;
    margin-top:3px;
    font-weight: 600;*/
}

#observation-time-label {
/*    float: left;
    width: 78px;
    font-weight: 600;*/
}

#observation-time-container {
/*    margin-bottom: 8px;*/
}

#time-navigation-buttons {
/*    float: left;
    width: 78px;
    font-weight: 600;  */
}

#timeBackBtn, #timeForwardBtn, #timeNowBtn {
    cursor: pointer;
}

#timeBackBtn:hover, #timeForwardBtn:hover, #timeNowBtn:hover {
    color: yellow;
}

#timestep-select {
    width: 8.25em;
    margin-right: 0.5em;
    border: none;
    float: left;
}

/* Calendar */
#date {
    width: 7em;
    vertical-align: middle;
    margin-right: 0.25em
}
#time {
    width: 6em;
    vertical-align: middle;
}

/* Layer timestamps */
.timestamp {
    font-size: 10.5px;
    font-weight: normal;
    margin-left: 0px;
    line-height: 17px;
    float: left;
    cursor: text;
    text-align: right;
}
