.qtip {
    font: 11px arial,helvetica,liberation sans,bitstream vera sans,freesans,clean,sans-serif;
    z-index  : 6000 !important;
    border-width: 0px;
}

.event > .qtip {
    top: 8px !important;
    left: 12px !important;
}
