#user-video-gallery-header {
    position: relative;
    margin: 5px 0px 2px 5px;
    height: 48px;
}

#user-video-gallery {
    height: 100%;
    min-height: 150px;
    font-size: 11px;
    padding: 2px 2px 0 0;
    margin: 0 5px;
    text-align: center;
}

#user-video-gallery-main {
    margin-bottom: 5px;
}

#user-video-gallery-spinner {
    background: url("../../resources/images/ajax-loader.gif");
    width: 16px;
    height: 16px;
    margin: 94px auto;
}

#user-video-gallery-next, #user-video-gallery-prev {
    font-style: italic;
    font-weight: normal;
    display: inline-block;
}

#user-video-gallery a {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;  
}

#user-video-gallery img {
    width : 240px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

#youtube-logo {
    float: left;
    margin-right: 5px;
}

.user-video-thumbnail-container {
    width: 100%;
    text-align: center;
}

.video-glow {
    box-shadow: 0 0 10px #8fcccc;
    -webkit-box-shadow: 0 0 10px #8fcccc; 
    -moz-box-shadow: 0 0 10px #8fcccc;
}
