/* Zoom Level Slider */
#zoomControls {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index:20;
}

#zoomControlSlider {
    background: transparent none repeat scroll 0 0;
    width: 100%;
    height: 190px;
    margin-top: 8px;
    border: none;
	border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

#zoomSliderContainer {
    position: absolute;
	left:8px;
	top:57px;
	height:212px;
	width:4px;
    background-color: rgba(255,255,255,0.5);
    color: black;
    border: 2px solid rgba(0,0,0,1);
	text-align:center;
	z-index: 9999;
}

#zoomControlSlider > .ui-slider-handle {
	left:-10px;
	width:20px;
	height:10px;
    background-image: none;
    background-color: rgba(230,230,230,1);
    color: black;
    border: 2px solid rgba(0,0,0,1);
    border-radius: 0.2em;
    -moz-border-radius-bottomleft: 0.2em;
    -webkit-border-bottom-left-radius: 0.2em;
	cursor: pointer;
	text-align:center;
	font-weight:bold;
	z-index: 10000;
}
#zoomControls #zoom-in-button, #zoomControls #zoom-out-button{
    position: absolute;
	background-color: rgba(230,230,230,1);
	color: black;
    border: 2px solid rgba(0,0,0,1);
    border-radius: 2em;
    -moz-border-radius-bottomleft: 2em;
    -webkit-border-bottom-left-radius: 2em;
	left: -2px;
	cursor:pointer;
	text-align: center;
	font-size: 2em;
	font-weight: 400;
	z-index: 10000;
    width: 0.8em;
    height: 0.8em;
    line-height: 0.6em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#zoomControls #zoom-out-button {
    top:270px;
    line-height: 0.66em;
}
#zoomControls #zoom-in-button  {
    justify-content:center;
    align-items:center;
    display:flex;
    top: 35px;
}


#zoomControls #center-button {
                position: relative;
                 display: inline-block;
                   width: 1em;
                  height: 1em;
                  margin: -1px 0 0 0;
                 padding: 4pt;
        background-color: rgba(230,230,230,1);
                   color: black;
                  border: 2px solid rgba(0,0,0,1);
               font-size: 12pt;
              text-align: center;
          vertical-align: middle;
             line-height: 1em;
        -o-border-radius: 16px;
      -moz-border-radius: 16px;
   -webkit-border-radius: 16px;
           border-radius: 16px;
                  cursor: pointer;
                  left: -2px;
}

#zoomControls #center-button:hover, #zoomControls #zoom-out-button:hover, #zoomControls #zoom-in-button:hover, #zoomControlSlider > .ui-slider-handle:hover {
    background-color: rgba(255,255,255,1);
    border: 2px solid rgba(0,0,0,1);
}

#zoomControls #center-button:active, #zoomControls #zoom-out-button:active, #zoomControls #zoom-in-button:active, #zoomControlSlider > .ui-slider-handle:active {
    background-color: yellow;
    border: 2px solid rgba(0,0,0,1);
}


/* Header Buttons */
/*#zoomControls .viewport-action {
                position: relative;
                 display: inline-block;
                   width: 1em;
                  height: 1em;
                  margin: -1px 0 0 0;
                 padding: 4pt;
        background-color: rgba(255,255,255,0.75);
                   color: black;
                  border: 2px solid rgba(0,0,0,1);
               font-size: 12pt;
              text-align: center;
          vertical-align: middle;
             line-height: 1em;
        -o-border-radius: 16px;
      -moz-border-radius: 16px;
   -webkit-border-radius: 16px;
           border-radius: 16px;
                  cursor: pointer;
}
#zoomControls .viewport-action:hover {
              color: rgba(255,255,255,0.75);
       border-color: rgba(255,255,255,0.75);
   background-color: rgba(0,0,0,0.75);
}
#zoomControls .viewport-action:active {
              color: #cb2027;
       border-color: #cb2027;
   background-color: black;
}*/
