/**
 * Helioviewer API CSS
 */
body {font-size: 0.85em;}

.toc {
    background-color: #E3EFFF;
    color: #111;
    border: 1px solid black;
    width: 400px;
    margin-left:30px;
}

a {
    text-decoration: none;
    color: #111;            
}

a:hover {
    text-decoration: underline;
    color: #d9759d;            
}

ol > li, ul > li {margin: 5px 0px 5px 0px;}

div.content {
    color: #000;
    width: 90%;
    height: 100%;
    margin-left:30px;
    padding: 10px;
}

div.content > div { width: 90%; }

div.content > div > p {
    margin-left: 20px;
    text-indent: 20px;
    font-family: verdana, sans-serif;
}

div > p:first-letter {
    color:red;
    font-size:large;
}

div.summary-box {
    width: 60%;
    min-width: 620px;
    margin-left: 40px;
    background-color: #f0f1f2;
    color: #000;
    border: 1px solid black;
    padding: 10px;
}

span.example-header {display: block; color: #3366FF}
span.example-url    {display: block; margin-left: 20px; font-size: 12px;}
span.example-url > a {color: #3399ff;}

table.param-list {border: none; margin-left: 10px;}

div.content h1 {font-size: 18px; font-weight: normal;}