

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron h1 {
    font-size: 2em;
}
.jumbotron p {
    font-size: 1em;
}

.navbar-brand {
    font-weight: 500;
}

.container .group {
    color: white;
    background-color: #ccc;
    font-weight: 600;
    margin-top: 50px;
    padding: 6px;
    text-shadow: 1px 1px 1px #888;
    border-radius: 2px;
}

h1 {
    margin-top: 3em;
}

h2.appendix {
    color: white;
    background-color: #ccc;
    font-weight: 600;
    margin: 2em 0 0.5em 0;
    padding: 6px;
    text-shadow: 1px 1px 1px #888;
    border-radius: 2px;
}

.description {
    max-width: 50em;
    margin-bottom: 1.3em;
}

.get, .post {
    font-size: 1.2em;
    font-weight: 400;
}

.get {
    color: #FF7F50;
}

.route {
    color: black;
    font-weight: normal;
}

tr {
    border: 1px solid #999;
    background-color: #fff;
}

td {
    padding: 2px 6px;
    vertical-align: top;
}

.param {
    font-family: monospace;
}
.emphasis {
    font-weight: bold;
}
td.sourceId {
    font-weight: bold;
    text-align: center;
}

td.required {
    text-align: center;
}
td.datatype {
    text-align: center;
}
td.example {
    word-wrap: break-word;
    font-family: monospace;
    min-width: 10em;
    max-width: 30em;
}
td.description {
    min-width: 20em;
    max-width: 50em;
}

a[name] {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

table {
    max-width: 100%;
}

table.request th {
    background-color: #eee;
}
table.model th {
    background-color: #eee;
}

thead {
    border: 1px solid #999;
}

.response {
    font-family: monospace;
}
pre.response.example {
    padding: 6px;
    border: 1px solid #bbb;
    margin-bottom: 2em;
    background-color: #f9f9f9;
    display: inline-block;
    font-family: monospace;
    border-radius: 2px;
}

.endpoint h4 {
    color: #428BCA;
    font-size: 1.1em;
    font-weight: 400;
}
.model h4 {
    color: #428BCA;
    font-size: 1.1em;
    font-weight: 400;
}

.description br {
    display: block;
    margin-bottom: 5px;
    font-size: 5px;
    line-height: 5px;
}

a.example.request {
    padding: 6px;
    border: 1px solid #bbb;
    margin-bottom: 0.5em;
    background-color: #f9f9f9;
    display: inline-block;
    font-family: monospace;
    border-radius: 2px;
    word-wrap: break-word;
    max-width: 100%;
}

h5.model, h5.endpoint {
    color: black;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}

h5.response_type {
    color: black;
    font-size: 1.1em;
    font-family: monospace;
    font-weight: 600;
}

h3 {
    margin-top: 2em;
}
