#main {width:60%; margin: 20px auto; text-align: center; min-width: 520px;}
#header {vertical-align: middle; margin: 20px auto 15px;}
#headerText {display: inline-block; vertical-align: super; font-family: arial,helvetica,liberation sans,bitstream vera sans,freesans,clean,sans-serif; font-size:34px;}
#info {cursor: pointer;}
#currentTime {font-size:13px; font-style: italic;}
#statuses, #legend {margin-left: auto; margin-right: auto; width:50%; min-width:520px; text-align: left; font-size:14.4px;}
#status-headers {font-weight:bold; background: #444; color: #fff;}
#status td{padding: 2px 0px;}
#legend-container {height: 24px;}
#legend {display: none; width: 100%; text-align: center;}
.instrument {font-weight: bold; cursor: pointer;}
.datasource {display: none; color: gray;}
.status-icon {width: 18px; height: 18px; vertical-align:text-bottom;}
.status-text {margin-right: 5px;}
.provider-link {text-decoration: none; color: #555;}
.provider-link:hover {text-decoration: underline; color: #CC3366;}
