/* Tile and Event layer accordions */
#layerManager, #eventAccordion {margin:0 5px 0 5px;}
#TileLayerAccordion-Container, #EventLayerAccordion-Container {
    border: 1px solid black;
    background: url(../images/blackGlass/transparentBG25.png) transparent scroll 0%;
}

div.layer-Head {background: url(../images/blackGlass/transparentBG25.png) transparent scroll 0%; font-size:0.9em; font-weight: bolder; cursor: pointer; color:white;}
div.layer-Head.selected {background: url(../images/blackGlass/transparentBG50.png) transparent scroll 0%;}
div.layer-Head:hover {background: url(../images/blackGlass/transparentBG50.png) transparent scroll 0%;}

.layerManagerBtn {
	width:20px;
	height:12px;
	vertical-align: middle;
	position: relative;
	border: 0;
}
.layerManagerBtn.visible {
	background: url(../images/blackGlass/LayerManagerButton_Visibility_Visible.png) transparent;
	margin-left: 2px;
}
.layerManagerBtn.hidden {
	background: url(../images/blackGlass/LayerManagerButton_Visibility_Hidden.png) transparent;
	margin-left: 2px;
}
.layerManagerBtn.remove {
	background: url(../images/blackGlass/LayerManagerButton_Remove.png) transparent;
    margin-right:4px;
    height: 14px;
}

div.accordion-arrow {
	float:left;
	height:9px;
	width:9px;
	margin: 2px 5px 0px 2px;
	border:none;
	vertical-align: middle;
}

div.menu-open {
	background: url(../images/blackGlass/accordion_menu_open.png) transparent;
}
div.menu-closed {
	background: url(../images/blackGlass/accordion_menu_closed.png) transparent;
}

span.event-accordion-header-left {display: block; width:65%; float: left;}
span.tile-accordion-header-left  {display: block; width:35%; float: left;}
span.event-accordion-header-right, span.tile-accordion-header-right {display: block; text-align: right;}

/* TileLayerAccordion Styles */
div.layer-select-label {
	width:90px;
	float: left;
	color: white;
	margin: 2px 0px 0px 1px;
}
select.layer-select {
	width:75px;
	background-color:#DFE5CF;
	color: #424242;
	border: 1px solid #5c5c5c;
	margin: 2px 0px 0px 1px;
	}
	
/* EventLayerAccordion Styles */
button.event-accordion-icon {
	border: none;
	width:  15px;
	height: 15px;
	vertical-align: middle;
	margin-right:4px;
}
