/* Tile and Event layer accordions */
#layerManager, #eventAccordion {margin:0 5px 0 5px;}
#TileLayerAccordion-Container, #EventLayerAccordion-Container {
	margin-top: 2px;
    font-size: 0.8em;
}

span.tile-accordion-header-right > span.accordion-header-divider {
    position: absolute;
    left: 226px;
}

span.event-accordion-header-right > span.accordion-header-divider {
    position: absolute;
    left: 226px;
}

div.layer-Head.selected {background: url(../images/blackGlass/transparentBG50.png) transparent scroll 0%;}

.dynaccordion-tab {
    cursor: pointer;
}

.layerManagerBtn {
	width:20px;
	height:12px;
	vertical-align: middle;
	position: relative;
	border: 0;
}
.layerManagerBtn.visible {
	background: url(../images/blackGlass/LayerManagerButton_Visibility_Visible.png) transparent;
    position: absolute;
    left: 233px;
    margin-top: 2px;
 }
.layerManagerBtn.hidden {
	background: url(../images/blackGlass/LayerManagerButton_Visibility_Hidden.png) transparent;
    position: absolute;
    left: 233px;
    margin-top: 2px;
 }
.layerManagerBtn.remove {
	background: url(../images/blackGlass/LayerManagerButton_Remove.png) transparent;
    margin-right:4px;
    height: 14px;
}

.dynaccordion-section {
    margin-bottom:2px;
}

.removeBtn {
    position: absolute;
    right: 10px;
}

div.accordion-arrow {
	float:left;
	height:9px;
	width:9px;
	margin: 2px 5px 0px 2px;
	border:none;
	vertical-align: middle;
}

div.menu-open {
	background: url(../images/blackGlass/accordion_menu_open.png) transparent;
}
div.menu-closed {
	background: url(../images/blackGlass/accordion_menu_closed.png) transparent;
}

span.event-accordion-header-left {display: block; width:65%; float: left;}
span.tile-accordion-header-left  {display: block; width:35%; float: left;}
span.event-accordion-header-right, span.tile-accordion-header-right {display: block; text-align: right; height: 16px;}

/* TileLayerAccordion Styles */
div.layer-select-label {
	width:90px;
	float: left;
	color: white;
	margin: 2px 0px 0px 1px;
}
select.layer-select {
	width: 100px;
	background-color: #DFE5CF; /* #c7ddf2 */
	color: #424242;
	border: 1px solid #5c5c5c;
	margin: 2px 0px 0px 1px;
	}
	
/* EventLayerAccordion Styles */
button.event-accordion-icon {
	border: none;
    position: absolute;
    left: 202px;
	width:  16px;
	height: 16px;
}

div#event-icon-menu{
	position: absolute;
	z-index: 1000;
	background: #F4F4F4;
	border: 1px solid #5E5E5E;
}

div#event-icon-menu-title {
	background-color: #c7c7c7;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 2px solid #424242;
	text-align: center;
	color: #5E5E5E;
	height: 20px;
	padding-top:5px;
	width: 100%;
}

div#event-icon-menu-body {
	position: relative;
	padding: 10px;
}

.event-icon-menu-icon {
	cursor: pointer;
	margin: 2px 8px 2px 8px;
}

.event-icon-menu-icon:hover {
	background: #add8e6;
	border: 2px solid blue;
	margin: 0px 6px 0px 6px;
	text-decoration: underline;
}
