/* jQuery Dialogs */
.ui-dialog {
	background: url(../images/bg.png);
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.1em;
	color: #222222;
	border: 1px solid #CCC;
	position: relative;
}

.ui-widget-content {
	color: #000;
}
