/**
 * jQuery UI dot-luv theme modifications
 */
html {background: url(../images/gradient_v5.png);}
a.gray {
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	}
a.gray:hover {
	border-top:1px solid #DFE5CF;
	border-bottom:1px solid #DFE5CF;
    color: #DFE5CF;
	}
a.lightGray {
	color:#E5E5E5;
	text-decoration:none;
	font-weight:bold;
}
.accordion-title {
	color: black;
	font-weight: bold;
}
.ui-datepicker {
    font-size:1.0em;
}
