/**
 * Helioviewer.org Custom Styles
 *
 * Three-column layout based off of Paul O'Bs design (http://www.pmob.co.uk/temp/3colfixedtest_4.htm).
 *
 * Adjusting size of layout elements:
 * 1. Adjusting size of left & right sidebars
 *    To adjust the size of either sidebar, add/subtract the desired amount from the width and margin-left/right
 *    properties of [#outsideBox, #leftCol, and #rightCol].
 *
 * 2. Adjusting the size of the header and footer elements
 *    The header is currently broken up and set individually in each of the three columns. The footer, however,
 *    is stored as a single continuous div.
 */


/* HTML ELEMENTS */
html, body    {height:100%;}
h1            {font: normal 20px Verdana,Arial,Helvetica,sans-serif;}
button        {cursor:pointer}
strong    	  {font-weight:bold;}
input, select {background-color: #F4F4F4;}

/* THREE-COLUMN FLEXIBLE LAYOUT STRUCTURAL COMPONENTS */
#outsideBox     {
  margin-left:280px;
  margin-right:250px;
  margin-bottom:-72px;
  min-height:100%;
}

#left-col-header, #middle-col-header, #right-col-header { height:70px; width: 100%; }
#left-col-header   {left: -1px}
#right-col-header  {left: 1px}

#left-col {
    position:relative;/*ie needs this to show float */
    width:280px;
    float:left;
    margin-left:-279px;/*must be 1px less than width otherwise won't push footer down */
    z-index:100;
    left:-1px;
}

#right-col {
    position:relative;/*ie needs this to show float */
    width:250px;
    float:right;
    margin-right:-249px;/*must be 1px less than width otherwise won't push footer down */
    left:1px;
    color: #000;
}

#middle-col {
  min-width:280px;
}

#footer {
    width:100%;
    clear:both;
    height:70px;
    text-align:center;
    position:relative;
}
#clearfooter{clear:both;height:72px;}/*needed to make room for footer*/
* > html #clearfooter {float:left;width:100%;}/* ie mac styles */

/* Loading Indicator */
#loading {padding: 3px; font-size: 12px; background-color:#858585; color: #F0F0F0;}

/* Center button */
.center-button {
    background: url(../images/blackGlass/transparentBGWhite.png) transparent repeat scroll 0%;
	width:50px;
	height:16px;
	position: absolute;
	bottom:0px;
	right: 0px;
	border-left:1px solid #CFCFCF;
	border-top:1px solid #CFCFCF;
	text-align:center;
	cursor: pointer;
}

.center-button > span {
	color: white;
	font-weight: bold;
}

/* Message Console */
#message-console {
	display: inline;
    width:100%;
    position: absolute;
    height: 17px;
    text-align: center;
    padding-top: 8px;
    font-size:1em;
}

.message-console-link {
	text-decoration: none;
	font-weight: bold;
	color: #3d76e0;
}

.message-console-link:hover {
	text-decoration: underline;
	color: #e03d76;
}

/* Calendar */
#date {width:80px;}
.ui-datepicker-trigger {
    cursor: pointer;
	position: relative;
	top:-4px;
}

/* Movie Builder */
img#movieBuilder {
	position: relative;
	cursor: pointer;
	margin: 2px;
	vertical-align: middle;
	top: -4px;
}

/* MISC TEXT-RELATED */
.centered {display: block; margin-left:auto; margin-right: auto;}
#about-dialog-header {
	font-family: "Lucida Sans", Script, Helvetica, sans-serif;
	font-size:   16px;
}

/* updates and to-do list */
.notes {
	position:relative;
	font-size:95%;
	padding:5px;
    top:10px;
    left: 10px;
    width: 190px;
    background: url(../images/blackGlass/transparentBG50.png) transparent repeat scroll 0%;
    -moz-border-radius:20px;
    color: white;
    height:300px;
    border: 1px solid black;
}
/* Tile and Event layer accordions */
#layerManager, #eventAccordion {margin:0 5px 0 5px;}
#TileLayerAccordion-Container, #EventLayerAccordion-Container {
    border: 1px solid black;
    background: url(../images/blackGlass/transparentBG25.png) transparent scroll 0%;
}

div.layer-Head {background: url(../images/blackGlass/transparentBG25.png) transparent scroll 0%; font-size:0.9em; font-weight: bolder; cursor: pointer; color:white; padding: 1px;}
div.layer-Head.selected {background: url(../images/blackGlass/transparentBG50.png) transparent scroll 0%;}
div.layer-Head:hover {background: url(../images/blackGlass/transparentBG50.png) transparent scroll 0%;}

.layerManagerBtn {
	width:20px;
	height:12px;
	vertical-align: middle;
	position: relative;
	border: 0;
}
.layerManagerBtn.visible {
	background: url(../images/blackGlass/LayerManagerButton_Visibility_Visible.png) transparent;
	margin-left: 2px;
}
.layerManagerBtn.hidden {
	background: url(../images/blackGlass/LayerManagerButton_Visibility_Hidden.png) transparent;
	margin-left: 2px;
}
.layerManagerBtn.remove {
	background: url(../images/blackGlass/LayerManagerButton_Remove.png) transparent;
    margin-right:4px;
    height: 14px;
}

div.accordion-arrow {
	float:left;
	height:9px;
	width:9px;
	margin: 2px 5px 0px 2px;
	border:none;
	vertical-align: middle;
}

div.menu-open {
	background: url(../images/blackGlass/accordion_menu_open.png) transparent;
}
div.menu-closed {
	background: url(../images/blackGlass/accordion_menu_closed.png) transparent;
}

span.event-accordion-header-left {display: block; width:65%; float: left;}
span.tile-accordion-header-left  {display: block; width:35%; float: left;}
span.event-accordion-header-right, span.tile-accordion-header-right {display: block; text-align: right;}

/* TileLayerAccordion Styles */
div.layer-select-label {
	width:90px;
	float: left;
	color: white;
	margin: 2px 0px 0px 1px;
}
select.layer-select {
	width:75px;
	background-color:#DFE5CF;
	color: #424242;
	border: 1px solid #5c5c5c;
	margin: 2px 0px 0px 1px;
	}
	
/* EventLayerAccordion Styles */
button.event-accordion-icon {
	border: none;
	width:  16px;
	height: 16px;
	vertical-align: middle;
	margin-right:2px;
}

div#event-icon-menu{
	position: absolute;
	z-index: 1000;
	background: #F4F4F4;
	border: 1px solid #5E5E5E;
}

div#event-icon-menu-title {
	background-color: #c7c7c7;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 2px solid #424242;
	text-align: center;
	color: #5E5E5E;
	height: 20px;
	padding-top:5px;
	width: 100%;
}

div#event-icon-menu-body {
	position: relative;
	padding: 10px;
}

.event-icon-menu-icon {
	cursor: pointer;
	margin: 2px 8px 2px 8px;
}

.event-icon-menu-icon:hover {
	background: #add8e6;
	border: 2px solid blue;
	margin: 0px 6px 0px 6px;
	text-decoration: underline;
}
/* jQuery Dialogs */
.ui-dialog {
	background: url(../images/bg.png);
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.1em;
	color: #222222;
	border: 1px solid #CCC;
	position: relative;
}

.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	z-index: 99999;
}
.ui-resizable .ui-resizable-handle {
	display: block; 
}
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
.ui-resizable-n { 
	cursor: n-resize; 
	height: 7px; 
	width: 100%; 
	top: -5px; 
	left: 0px;  
}
.ui-resizable-s { 
	cursor: s-resize; 
	height: 7px; 
	width: 100%; 
	bottom: -5px; 
	left: 0px; 
}
.ui-resizable-e { 
	cursor: e-resize; 
	width: 7px; 
	right: -5px; 
	top: 0px; 
	height: 100%; 
}
.ui-resizable-w { 
	cursor: w-resize; 
	width: 7px; 
	left: -5px; 
	top: 0px; 
	height: 100%;
}
.ui-resizable-se { 
	cursor: se-resize; 
	width: 13px; 
	height: 13px; 
	right: 0px; 
	bottom: 0px; 
	background: url(images/222222_11x11_icon_resize_se.gif) no-repeat 0 0;
}
.ui-resizable-sw { 
	cursor: sw-resize; 
	width: 9px; 
	height: 9px; 
	left: 0px; 
	bottom: 0px;  
}
.ui-resizable-nw { 
	cursor: nw-resize; 
	width: 9px; 
	height: 9px; 
	left: 0px; 
	top: 0px; 
}
.ui-resizable-ne { 
	cursor: ne-resize; 
	width: 9px; 
	height: 9px; 
	right: 0px; 
	top: 0px; 
}
.ui-dialog-titlebar {
	padding: .5em 1.5em .5em 1em;
	color: #eeeeee;
	background: #444444 url(images/444444_40x100_textures_02_glass_25.png) 0 50% repeat-x;
	border-bottom: 1px solid #777777;
	font-size: 1em;
	font-weight: bold;
	position: relative;
}
.ui-dialog-title {}
.ui-dialog-titlebar-close {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	background: url(images/eeeeee_11x11_icon_close.gif) 0 0 no-repeat;
	position: absolute;
	right: 8px;
	top: .7em;
	width: 11px;
	height: 11px;
	z-index: 100;
}
.ui-dialog-titlebar-close-hover, .ui-dialog-titlebar-close:hover {
	background: url(images/ffd40f_11x11_icon_close.gif) 0 0 no-repeat;
}
.ui-dialog-titlebar-close:active {
	background: url(images/ffffff_11x11_icon_close.gif) 0 0 no-repeat;
}
.ui-dialog-titlebar-close span {
	display: none;
}
.ui-dialog-content {
	color: #222222;
	padding: 1.5em 1.7em;	
}
.ui-dialog-buttonpane {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	border-top: 1px solid #dddddd;
	background: #ffffff;
}
.ui-dialog-buttonpane button {
	margin: .5em 0 .5em 8px;
	color: #eeeeee;
	background: #444444 url(images/444444_40x100_textures_02_glass_25.png) 0 50% repeat-x;
	font-size: 1em;
	border: 1px solid #777777;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	line-height: 1.4em;
}
.ui-dialog-buttonpane button:hover {
	color: #ffffff;
	background: #333333 url(images/333333_40x100_textures_02_glass_25.png) 0 50% repeat-x;
	border: 1px solid #444444;
}
.ui-dialog-buttonpane button:active {
	color: #ffffff;
	background: #a21111 url(images/a21111_40x100_textures_02_glass_35.png) 0 50% repeat-x;
	border: 1px solid #841515;
}
/* This file skins dialog */
.ui-dialog.ui-draggable .ui-dialog-titlebar,
.ui-dialog.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}/* Events */
.event-layer {
	position: absolute;
}
.event {
	position: absolute;
}
div.event-marker {
	position: absolute;
	height: 16px;
	width: 16px;
	left: -8px;
	top: -8px;
	border: none;
	z-index: 10;
}

.Active_Region {background: url(../images/events/activeregion.png);}
.CME {background: url(../images/events/cme.png);}
.Type_II_Radio_Burst {background: url(../images/events/typeII_radioburst.png);}
.Solar_Flare {background: url(../images/events/flare.png);}

div.event-label {
	background: #4a4a4a;
	position: absolute;
	top: 15px;
	left: 5px;
	z-index: 10;
}
div.event-popup {
	color: #000;
	cursor: default;
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 11;
}

a.event-popup-close-btn {
	position: absolute;
	cursor: pointer;
	color: #4673b2;
	padding: 0px;
	font-family: sans-serif;
	font-size: 14px;
	right: 60px;
	top: 35px;
}

a.event-popup-close-btn:hover {
	font-weight: bold;
	color: #b24673;
}

a.event-url {
	text-decoration: none;
	color: #4673b2;
}

a.event-url:hover {
	text-decoration: underline;
	color: #b24673;
}
/* Zoom Level Slider */
.sliderTrack {
	position: absolute;
	left:10px;
	top:24px;
	height:209px;
	width:6px;
	background: url(../images/blackGlass/glass_slider_trough_vertical_white.png) repeat-y;
	text-align:center;
	z-index:10000;
	}

.sliderHandle {
	left:-8px;
	width:21px;
	height:12px;
	background:url(../images/blackGlass/glass_slider_handle_white.png);
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	z-index:10000;
}

.sliderMinus, .sliderPlus {
	background: url(../images/blackGlass/glass_button_square_24px_white.png);
	position: absolute;
	color:white;
	left:0px;
	cursor:pointer;
	width:24px;
	height:24px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	z-index:10000;
}

.sliderMinus {top:233px;}
.sliderPlus  {top:0px;}

/* Opacity Slider */
.opacity-slider-track{
	width:120px;
	height:10px;
	margin:10px;
	height: 8px;
    background: url(../images/blackGlass/glass_slider_trough_horiztonal_white.png) transparent scroll 0%;
    border-left: 1px solid black;
    border-right: 1px solid black;
	float: left;
}
.opacity-slider-handle{
	background: url(images/444444_40x100_textures_02_glass_25.png) transparent scroll 0%;
	border: 1px solid black;
    cursor: pointer;
    height:19px;
    width: 10px;
    top:-6px;	
}
/* Time Navigation */
#timeBackBtn {
	background: url(../images/blackGlass/arrow_left.png);
	width:28px;
	height:24px;
	border:0;
	z-index:10000;
}

#timeForwardBtn {
	background: url(../images/blackGlass/arrow_right.png);
	width:28px;
	height:24px;
	border:0;
	z-index:10000;
}
#timestepTrack {
    margin-top:7px;
    width: 200px;
    height: 8px;
    background: url(../images/blackGlass/glass_slider_trough_horiztonal_white.png) transparent scroll 0%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#timestepHandle {
	background: url(../images/blackGlass/glass_slider_handle_horizontal_white.png) transparent scroll 0%;
    cursor: pointer;
    height:21px;
    width: 12px;
    top:-6px;
}
#timestepValueDisplay {
    color:white;
    top:-24px;
    left:-69px;
    text-align: center;
    position:relative;
    padding:2px 0 0 1px;
    width: 150px;
}

.timestamp {font-size:0.85em; font-weight: normal; margin-left: 0px;}

.timeBehind {
	color: #FFFF66;
	font-weight: bold;
}

.timeAhead {
	color: #b2ff66;
	font-style: italic;	
}

.timeSignificantlyOff {
	color: #ff6666;
}/* Tooltips */
.tooltip-bottomleft-medium {
	position: absolute;
	z-index: 1000;
	font-family: Arial;
	width: 180px;
	height: 130px;
	background: url('../images/blackGlass/tooltip-bottomleft-medium.png') no-repeat;
}

.tooltip-bottomleft-large {
    position: absolute;
    z-index: 1000;
    font-family: Arial;
    width: 350px;
    height: 260px;
    background: url('../images/blackGlass/tooltip-bottomleft-large.png') no-repeat;
}

.tooltip-topleft-medium {
    position: absolute;
    z-index: 1000;
    font-family: Arial;
    width: 180px;
    height: 130px;
    background: url('../images/blackGlass/tooltip-topleft-medium.png') no-repeat;
}

.tooltip-topleft-large {
    position: absolute;
    z-index: 1000;
    font-family: Arial;
    width: 350px;
    height: 260px;
    background: url('../images/blackGlass/tooltip-topleft-large.png') no-repeat;
}

.tooltip-topleft-larger {
    position: absolute;
    z-index: 1000;
    font-family: Arial;
    width: 357px;
    height: 358px;
    background: url('../images/blackGlass/tooltip-topleft-larger.png') no-repeat;
}


.viewport-right {
	background: url('../images/blackGlass/tooltip-topright-large.png') no-repeat;
}

/* doesn't get inherited as is... need to specify for each class instead of by id as above */
.tooltip-topleft-large div, .tooltip-topleft-larger div {
	padding: 50px 35px 50px 60px;
}

.tooltip-bottomleft-large div, .tooltip-topleft-medium div, .tooltip-bottomleft-medium div {
    padding: 30px;
}
/* Viewport */
#helioviewer-viewport-container-inner {width:100%; height:100%; position: relative; border: 1px solid black; top: 0px;}
#helioviewer-viewport-container-outer {
  height: 600px;
  background: transparent url('../images/blackGlass/transparentBG25.png') repeat scroll 0%;
  border:1px solid black;
  -moz-border-radius:25px;
}

.viewport {
	background-color: #000000;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 0;
	position:relative;
    width:100%;
    height:100%;
    cursor: pointer;
}

.movingContainer /* this is what actually moves */ {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
}

.tile
{
	border: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	overflow: visible;
}
