/**
 * Helioviewer.org Custom Styles
 *
 * Three-column layout based off of Paul O'Bs design (http://www.pmob.co.uk/temp/3colfixedtest_4.htm).
 *
 * Adjusting size of layout elements:
 * 1. Adjusting size of left & right sidebars
 *    To adjust the size of either sidebar, add/subtract the desired amount from the width and margin-left/right
 *    properties of [#outsideBox, #leftCol, and #rightCol].
 *
 * 2. Adjusting the size of the header and footer elements
 *    The header is currently broken up and set individually in each of the three columns. The footer, however,
 *    is stored as a single continuous div.
 */


/* HTML ELEMENTS */
html, body    {height:100%;}
h1            {font:normal 20px Verdana,Arial,Helvetica,sans-serif;}
button        {cursor:pointer}
strong    	  {font-weight:bold;}
input, select {background-color:#F4F4F4;}

/* THREE-COLUMN FLEXIBLE LAYOUT STRUCTURAL COMPONENTS */
#outsideBox {
  margin-left   : 280px;
  margin-right  : 250px;
  margin-bottom :-72px;
  min-height    : 100%;
}

#left-col-header, #middle-col-header, #right-col-header { height:25px; width: 100%; }
#left-col-header   {left: -1px; height: 50px;}
#right-col-header  {left: 1px}

#left-col {
    position:relative;/*ie needs this to show float */
    width:280px;
    float:left;
    margin-left:-279px;/*must be 1px less than width otherwise won't push footer down */
    z-index:100;
    left:-1px;
}

#right-col {
    position:relative;/*ie needs this to show float */
    width:250px;
    float:right;
    margin-right:-249px;/*must be 1px less than width otherwise won't push footer down */
    left:1px;
    color: #000;
}

#middle-col {
  min-width:280px;
}

#footer {
    width:100%;
    clear:both;
    height:40px;
    text-align:center;
    position:relative;
}
#clearfooter{clear:both;height:72px;}/*needed to make room for footer*/
* > html #clearfooter {float:left;width:100%;}/* ie mac styles */

/* Loading Indicator */
#loading {padding: 3px; font-size: 12px; background-color:#858585; color: #F0F0F0;}


/* Center button */
.center-button {
    font-size: 0.8em;
	width:54px;
	height:16px;
	position: absolute;
	bottom:0px;
	right: 0px;
	border-left:1px dashed #9ccdfc;
	border-top:1px dashed #9ccdfc;
	text-align:center;
	cursor: pointer;
}

.center-button > span {
	color: #9ccdfc;
    font-family: courier new, Futura, terminal, monospace, sans;
    font-weight: bold;
}

/* Coordinates */
#mouse-coords {
	background: transparent;
	color: white;
	font-weight: 600;
	width: 160px;
	height: 16px;
	position: absolute;
	top:0px;
	right: 0px;
}

/* Message Console */
#message-console {
	display: inline;
    width:100%;
    position: absolute;
    height: 17px;
    text-align: center;
    padding-top: 8px;
    font-size:1em;
}

.message-console-link {
	text-decoration: none;
	font-weight: bold;
	color: #3d76e0;
}

.message-console-link:hover {
	text-decoration: underline;
	color: #e03d76;
}

/* Calendar */
#date {
	width:80px; 
	margin-right: 2px;
}
.ui-datepicker-trigger {
	background-color: transparent;
	color: transparent;
    cursor: pointer;
	position: relative;
}

.ui-datepicker {
	z-index: 2000;	
}

/* Movie Builder */
img#movieBuilder {
	position: relative;
	cursor: pointer;
	margin: 2px;
	vertical-align: middle;
	top: -4px;
}

/* MISC TEXT-RELATED */
.centered {display: block; margin-left:auto; margin-right: auto;}

/* Usage Tips dialog */


/* updates and to-do list */
.notes {
	position:relative;
	font-size:100%;
    font-family: "Courier New", Courier, monospace;
	padding:5px;
    top:10px;
    left: 10px;
    width: 190px;
    color: #DFE5CF;
    height:300px;
    border: 1px solid black;
}
