/* CSS Document */
* html #outsideBox {height:100%;}
#minHeight {display:none}
#left-col {margin-right:-3px;}/*3px jog */
#right-col {margin-left:-2px;padding-bottom:50px}/*3px jog */
* html #footer {
	height:52px;/* for ie5 */
	he\ight:50px;/* for ie6 */
}
#middle-col {margin:0}
#outsideBox {word-wrap:break-word}
