/**
 * helioviewer.css
 *
 * blackGlass design by Keith, 2008
 *
 * Background tile from Jawbreaker's Mitril" theme for GTK 2.x.
 * (http://gnome-look.org/content/show.php/Mithril?content=64288).
 * Calendar button uses an icon from DBGthekafu's "black-white 2 Vista" icon
 * theme (http://www.gnome-look.org/content/show.php/black-white+2+Vista?content=72618).
 *
 * Three-column layout based off of Paul O'Bs design (http://www.pmob.co.uk/temp/3colfixedtest_4.htm).
 *
 * Adjusting size of layout elements:
 * 1. Adjusting size of left & right sidebars
 *    To adjust the size of either sidebar, add/subtract the desired amount from the width and margin-left/right
 *    properties of [#outsideBox, #leftCol, and #rightCol].
 *
 * 2. Adjusting the size of the header and footer elements
 *    The header is currently broken up and set individually in each of the three columns. The footer, however,
 *    is stored as a single continuous div.
 */


/* HTML ELEMENTS */

            
html, body    {height:100%;}
html          {background: url(../images/bg.png);}
h1            {font: normal 20px Verdana,Arial,Helvetica,sans-serif;}
button        {cursor:pointer}
strong    	  {font-weight:bold;}
input, select {background-color: #F4F4F4;}

/* THREE-COLUMN FLEXIBLE LAYOUT STRUCTURAL COMPONENTS */
#outsideBox     {margin-left:250px; margin-right:250px; margin-bottom:-72px; min-height:100%;}

#left-col {
    position:relative;/*ie needs this to show float */
    width:250px;
    float:left;
    margin-left:-249px;/*must be 1px less than width otherwise won't push footer down */
    z-index:100;
    left:-1px;
}

#right-col {
    position:relative;/*ie needs this to show float */
    width:250px;
    float:right;
    margin-right:-249px;/*must be 1px less than width otherwise won't push footer down */
    left:1px;
    color: #000;
}

#middle-col {min-width:280px;}

#footer {
    width:100%;
    clear:both;
    height:70px;
    text-align:center;
    position:relative;
}
#clearfooter{clear:both;height:72px;}/*needed to make room for footer*/
* > html #clearfooter {float:left;width:100%;}/* ie mac styles */

#left-col-header, #middle-col-header, #right-col-header { height:70px; width: 100%; }
#left-col-header   {left: -1px}
#right-col-header  {left: 1px}


/* VIEWPORT-RELATED */
#helioviewer-viewport-container-inner {width:100%; height:100%; position: relative; border: 1px solid black; top: 0px;}
#helioviewer-viewport-container-outer {height: 600px; background: transparent url(../images/blackGlass/transparentBG25.png) repeat scroll 0%; border:1px solid black; -moz-border-radius:25px;}
#ui {width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 2;}
.viewport {
	background-color: #000000;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 0;
	position:relative;
    width:100%;
    height:100%;
    cursor: pointer;
}

.surface {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	overflow: hidden;
	/* background-color: red;
	opacity: .5; */
	/*background: url(../gfx/center.gif) no-repeat center center;*/
	_background: url(../gfx/blank.gif) no-repeat center center; /* NOTE: required for IE to"see" the surface */
}

.movingContainer /* this is what actually moves */ {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
}

.well, .tileContainer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: 10;
}

.tile
{
	border: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	overflow: visible;
	/* border: 1px white solid; */
	/* background-color: transparent */
	/*-moz-outline: 1px dashed #FF0000;*/
}

/* OVERLAY-RELATED */ 
.messageBox {
	position: absolute;
	top: 200px;
	left: 50%;
	width: 40em;
	margin-left: -20em;	
	z-index: 100;
}

.messageBg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 1px solid #000000;
	background-color: #DDDDE0;
	opacity: 0.5;
}

.messageFg {
	position: relative;
	padding: 30px 10px 10px 10px;
	color: #000000;
	font-size: 12pt;
	z-index: 1;
}

.overlay {
	position: absolute;
}

.mark {
	position: absolute;
    overflow: hidden;
	color: #FFFFFF;
	font-size: 16px;
	z-index: 25;
	cursor: pointer;
}
.label {
	position: absolute;
    overflow: visible;
	color: #FFFFFF;
	visibility: visible;
	font-size: 14px;
	z-index: 26;
	padding: 1px 2px 1px 2px;
	/* cursor: pointer; */
    white-space: nowrap;
}

/*\*/
html*.label {
	line-height: 16px;
	text-shadow: #000000 2px 2px 2px;
    white-space: nowrap;
}/**/

.blackBg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(Opacity=50);
	z-index: -1;	
}

/*\*/
html*.blackBg {
	display: none;/*seen only by safari*/
}/**/

span.closeX {
	position: absolute;
	font-size: 10pt;
	color: #999999;
	top: 10px;
	right: 10px;
	z-index: 2;
	cursor: pointer;
}

a.closeX {
	color: #FFF;
	font-size: 11px;
	font-family: Arial, sans-serif;
	border: #FFF 1px solid;
	text-decoration: none;
	margin: 1px;
}
a.closeX:active  {color: #d6f1ff; border-color: #d6f1ff;}
a.closeX:visited {border: #FFF 1px solid;}
a.closeX:hover   {color: #d6f1ff; border-color: #d6f1ff;}

a.control1       {color: #000000; font-family: Arial, sans-serif; text-decoration: none;}
a.control1:hover {text-decoration: underline;}
a.control2       {color: #000000; font-family: Arial, sans-serif; text-decoration: none;}

.noImageAvailable {
	width: 100%;
	height: 100%;
	padding: 50% 2em 50% 2em;
	font-size: x-small;
	text-align: center;
	color: #FFFFFF;
}

.infoBubble {
	position: absolute;
    /* overflow: hidden; */
	background-color: #111;
	-moz-opacity:0.75;
	-moz-border-radius:19px;
	z-index: 10000;
	padding: 6px;
	width: 200px;
	border: 1px #000 solid;
	cursor: default;
	text-align: right;
}
.infoContent {
	color: #FFF;
	font-size: 15px;
	padding: 2px;
	text-align: left;
}

a.infoBubbleLink         {font-size:80%; color:white;}
a.infoBubbleLink:visited {color:white;}

/* UI-RELATED */
.centerControl {
    cursor: pointer;
    margin-left:4px;
}
.sunCoordsDisplay {
    color: #FFFFFF;
    font-size: 12px;
    z-index: 100000;
}

.layerManager {
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px #000000 solid;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    font-size: 10pt;
    background-color: #FFFFFF;
    color:#000;
}

.controls {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100000;
	overflow: hidden;
}

.viewportControls        
{
	background:url(../images/blackGlass/glass_button_rect_48x20px.png);
	color: #FFF;
	position: absolute;
	left:-1px;
	top:-1px;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	font-weight: bold;
	z-index: 100000;
	border: 0;
	width:48px;
	height:20px;
}
.viewportControls a        {color: #000000; text-decoration: none; -moz-outline: none;}
.viewportControls a img    {vertical-align: middle;}
.viewportControls a:active {color: #FF0000;}

/* Loading Indicator */
#loading {padding: 3px; font-size: 12px; background-color:#858585; color: #F0F0F0;}

/* Message Console */
#message-console {
    width:100%;
    position: absolute;
    height: 17px;
    text-align: center;
    padding-top: 8px;
    font-size:1em;
}

/* Custom Calendar Styles */
#container .bd:after {content:".";display:block;clear:left;height:0;visibility:hidden;} /* Clear calendar's float */
#container .bd {padding:0;} /* Have calendar squeeze upto bd bounding box */
		
/* Remove calendar's border and set padding in ems instead of px, so we can specify an width in ems for the container */
#cal {border:none; padding:1em}
#date {width:80px;}
#show {
	background: url(../images/blackGlass/glass_button_calendar.png);
	width:24px;
	height:21px;
	border:0;
	position: relative;
	top:-4px;
}

.yui-skin-sam .yui-calendar td.calcell.highlight1     {background-color:white;}
.yui-skin-sam .yui-calendar td.calcell.highlight1 > a {color: red}
.yui-skin-sam .yui-calendar td.calcell.highlight2     {background-color:white;}
.yui-skin-sam .yui-calendar td.calcell.highlight2 > a {color:green;}
.yui-skin-sam .yui-calendar td.calcell.highlight3     {background-color:white;}
.yui-skin-sam .yui-calendar td.calcell.highlight3 > a {color: orange;}


/* Zoom Level Slider Styles */
.sliderTrack {
	position: absolute;
	left:10px;
	top:24px;
	height:209px;
	width:6px;
	background: url(../images/blackGlass/glass_slider_trough_vertical_white.png) repeat-y;
	text-align:center;
	z-index:10000;
	}
				
.sliderHandle {
	left:-8px;
	width:21px;
	height:12px;
	background:url(../images/blackGlass/glass_slider_handle_white.png);
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	z-index:10000;
}

.sliderMinus, .sliderPlus {
	background: url(../images/blackGlass/glass_button_square_24px_white.png);
	position: absolute;
	color:white;
	left:0px;
	cursor:pointer;
	width:24px;
	height:24px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	z-index:10000;
}

.sliderMinus {top:233px;}
.sliderPlus  {top:0px;}

/* Time Navigation UI Components */
#timeBackBtn {
	background: url(../images/blackGlass/arrow_left.png);
	width:28px;
	height:24px;
	border:0;
	z-index:10000;
}

#timeForwardBtn {
	background: url(../images/blackGlass/arrow_right.png);
	width:28px;
	height:24px;
	border:0;
	z-index:10000;
}
#timestepTrack {
    margin-top:7px;
    width: 200px;
    height: 8px;
    background: url(../images/blackGlass/glass_slider_trough_horiztonal_white.png) transparent scroll 0%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#timestepHandle {
	background: url(../images/blackGlass/glass_slider_handle_horizontal_white.png) transparent scroll 0%;
    cursor: pointer;
    height:21px;
    width: 12px;
    top:-6px;
}
#timestepValueDisplay {
    /*color:#111;*/
    color:white;
    top:-24px;
    left:-7px;
    position:relative;
    padding:2px 0 0 1px;
}

.sizeIndicatorElement {
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
}

.sizeIndicator
{
    position: absolute;
    z-index: 100000;
    /* width: 300px; */
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
}

/* TEXT-RELATED */
a.gray {
	text-decoration:none;
	font-weight:bold;
	color:#858585;
	}
a.gray:hover {
	border-top:1px solid #858585;
	border-bottom:1px solid #858585;
	}
a.lightGray {
	/*color:#F0F0F0;*/
	color:#E5E5E5;
	text-decoration:none;
	font-weight:bold;
}

.centered       {display: block; margin-left:auto; margin-right: auto;}

/* LayerManager */
/*#layerManager {width:230px; height:100%; padding:0px; margin-left:5px;} */
#layerManager {margin:0 5px 0 5px;}

#layerManager-Container {
    border: 1px solid black;
    background: url(../images/blackGlass/transparentBG25.png) transparent scroll 0%;	
}

div.layer-Head {background: url(../images/blackGlass/transparentBG25.png) transparent scroll 0%; font-size:0.9em; font-weight: bolder; cursor: pointer; color:white;}
div.layer-Head.selected {background: url(../images/blackGlass/transparentBG50.png) transparent scroll 0%;}
div.layer-Head:hover {background: url(../images/blackGlass/transparentBG50.png) transparent scroll 0%;}

.layerManagerBtn {
	width:20px;
	height:12px;
	vertical-align: middle;
	position: relative;
	border: 0;
}
/* Styles for buttons moved to stylesheet since some browsers insert extra quotes around image urls */ 	
.layerManagerBtn.visible { 	
	background: url(../images/blackGlass/LayerManagerButton_Visibility_Visible.png) transparent; 	
	margin-left: 2px;
} 	
.layerManagerBtn.hidden { 	
	background: url(../images/blackGlass/LayerManagerButton_Visibility_Hidden.png) transparent; 	
	margin-left: 2px;
} 	
.layerManagerBtn.remove { 	
	background: url(../images/blackGlass/LayerManagerButton_Remove.png) transparent;
    margin-right:4px;
    height: 14px; 	
} 	

/*.layerManagerBtn.remove:hover {background: url(../images/blackGlass/LayerManagerButton_Remove_Shadow.png) transparent; margin-left: 2px;}*/

.timestamp {font-size:0.85em; font-weight: normal; margin-left: 0px; color:white;}

/* updates and to-do list */
.notes {
	position:relative;
	font-size:95%;
	padding:5px;
    top:10px;
    left: 10px;
    width: 190px;
    background: url(../images/blackGlass/transparentBG50.png) transparent repeat scroll 0%;
    -moz-border-radius:20px;
    color: white;
    height:300px;
    border: 1px solid black;
}

ol > li {list-style-type: disc;}

.tooltip {
	position: absolute;
	z-index: 1000;
	font-family: Arial;
	width: 175px;
	height: 130px;
	background: url('../images/blackGlass/tooltip.png') no-repeat;
}

.tooltip div {
	padding: 30px;
}



