/**
 * helioviewer.css
 * last updated: 03/18/2008
 *
 * blackGlass design by Keith, 2008
 *
 * Background tile from Jawbreaker's excellent "Mitril" theme for GTK 2.x.
 * (http://gnome-look.org/content/show.php/Mithril?content=64288).
 * Calendar button uses an icon from DBGthekafu's "black-white 2 Vista" icon
 * theme (http://www.gnome-look.org/content/show.php/black-white+2+Vista?content=72618).
 */

/* HTML ELEMENTS */
html {
	background: url(../images/bg.png);
	}

body {
	padding: 10px;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.7em;
}

h1 {font: normal 20px Verdana,Arial,Helvetica,sans-serif;}
button {cursor:pointer}

/* MAIN STRUCTURAL COMPONENTS */
#outsideBox {
	border:0;
}
#header {
	width:600px;
	height:60px;
	font-size:14px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:5px;
}
#viewport-outer {
	background: url(../images/blackGlass/glass_border_light_640x640.png);
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:640px;
	height:640px;
	z-index:1;
}
#viewport-inner {
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:600px;
	height:600px;
	border:1px solid black;
	top:20px;
}

#ui {
	width:100%;
	height:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
}

#footer {
	width:600px;
	height:70px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:9px;
}

/* VIEWPORT-RELATED */
.viewport {
	position: relative;
	top: 0px;
	left: 0px;
	/* NOTE: the size and width should be set dynamically when initialized */
	width: 0;
	height: 0;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #000000;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 0;
}


.surface {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	overflow: hidden;
	/* background-color: red;
	opacity: .5; */
	/*background: url(../gfx/center.gif) no-repeat center center;*/
	_background: url(../gfx/blank.gif) no-repeat center center; /* NOTE: required for IE to"see" the surface */
}
.well, .tileContainer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: 10;
}

.tile
{
	border: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	overflow: visible;
	/* border: 1px white solid; */
	/* background-color: transparent */
	/*-moz-outline: 1px dashed #FF0000;*/
}

/* UI-RELATED */
.centerControl {
	cursor: pointer;
	margin-left:4px;
}
.sunCoordsDisplay {
	color: #FFFFFF;
	font-size: 12px;
	z-index: 100000;
}


.layerManager {
	position: absolute;
	top: -1px;
	left: -1px;
	border: 1px #000000 solid;
	margin: 0px 0px 10px 0px;
	padding: 5px;
	font-size: 10pt;
	background-color: #FFFFFF;
	color:#000;
}

.layerConfigurator {
	margin: 5px 0px 5px 0px;
	padding: 5px;
}

.selectByDateMenu {
	position: relative;
	top: 0;
	left: 0;
	margin: 5px 5px 5px 5px;
	/* float: left; */
}


.messageBox {
	position: absolute;
	top: 200px;
	left: 50%;
	width: 40em;
	margin-left: -20em;	
	z-index: 100;
}

.messageBg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 1px solid #000000;
	background-color: #DDDDE0;
	opacity: 0.5;
}

.messageFg {
	position: relative;
	padding: 30px 10px 10px 10px;
	color: #000000;
	font-size: 12pt;
	z-index: 1;
}

.overlay {
	position: absolute;
}

.mark {
	position: absolute;
    overflow: hidden;
	color: #FFFFFF;
	font-size: 16px;
	z-index: 25;
	cursor: pointer;
}
.label {
	position: absolute;
    overflow: visible;
	color: #FFFFFF;
	visibility: visible;
	font-size: 14px;
	z-index: 26;
	padding: 1px 2px 1px 2px;
	/* cursor: pointer; */
    white-space: nowrap;
}

/*\*/
html*.label {
	line-height: 16px;
	text-shadow: #000000 2px 2px 2px;
    white-space: nowrap;
}/**/

.blackBg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(Opacity=50);
	z-index: -1;	
}

/*\*/
html*.blackBg {
	display: none;/*seen only by safari*/
}/**/

span.closeX {
	position: absolute;
	font-size: 10pt;
	color: #999999;
	top: 10px;
	right: 10px;
	z-index: 2;
	cursor: pointer;
}

a.closeX:link {
	color: #FFF;
	font-size: 11px;
	font-family: Arial, sans-serif;
	border: #FFF 1px solid;
	text-decoration: none;
	margin: 1px;
}
a.closeX:active {
	color: #d6f1ff;
	font-size: 11px;
	font-family: Arial, sans-serif;
	border: #d6f1ff 1px solid;
	text-decoration: none;
	margin: 1px;
}
a.closeX:visited {
	color: #FFF;
	font-size: 11px;
	font-family: Arial, sans-serif;
	border: #FFF 1px solid;
	text-decoration: none;
	margin: 1px;
}
a.closeX:hover {
	color: #d6f1ff;
	font-size: 11px;
	font-family: Arial, sans-serif;
	border: #d6f1ff 1px solid;
	text-decoration: none;
	margin: 1px;
}

a.control1 {
	color: #000000;
	font-family: Arial, sans-serif;
	text-decoration: none;
}
a.control1:hover {
	text-decoration: underline;
}
a.control2 {
	color: #000000;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

.noImageAvailable {
	width: 100%;
	height: 100%;
	padding: 50% 2em 50% 2em;
	font-size: x-small;
	text-align: center;
	color: #FFFFFF;
}

.infoBubble {
	position: absolute;
    /* overflow: hidden; */
	background-color: #111;
	-moz-opacity:0.75;
	-moz-border-radius:19px;
	z-index: 10000;
	padding: 6px;
	width: 200px;
	border: 1px #000 solid;
	cursor: default;
	text-align: right;
}
.infoContent {
	color: #FFF;
	font-size: 15px;
	padding: 2px;
	text-align: left;
}

a.infoBubbleLink {font-size:80%; color:white;}
a.infoBubbleLink:visited {color:white;}

.controls {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100000;
	overflow: hidden;
}
.viewportControls        
{
	background:url(../images/blackGlass/glass_button_rect_48x20px.png);
	color: #FFF;
	position: absolute;
	left:-1px;
	bottom:-1px;
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	font-weight: bold;
	z-index: 100000;
	border: 0;
	width:48px;
	height:20px;
}
.viewportControls a
{
	color: #000000;
	text-decoration: none;
	-moz-outline: none;
}
.viewportControls a img {
	vertical-align: middle;
}
.viewportControls a:active {
	color: #FF0000;
}

#track3 {
	margin: 0px 0px 0px 0px;
}

.nav { color: #000000; font-size: 14px; cursor: pointer; }
.nav:link {color: #000000; text-decoration:none;}     /* unvisited link */
.nav:visited {color: #000000; text-decoration:none;}  /* visited link */
.nav:hover {color: #000000; text-decoration:none;}   /* mouse over link */
.nav:active {color: #000000; text-decoration:none;}   /* selected link */

/* Loading Indicator */
#loading {
	padding: 3px;
	font-size: 12px;
	background-color:#858585;
	color: #F0F0F0;
	position:absolute;
	top: 30px;
	right: 30px;
}

/* Custom Calendar Styles */

/* Clear calendar's float */
#container .bd:after {content:".";display:block;clear:left;height:0;visibility:hidden;}
		
/* Have calendar squeeze upto bd bounding box */
#container .bd {padding:0;}
		
/* Remove calendar's border and set padding in ems instead of px, so we can specify an width in ems for the container */
#cal {border:none; padding:1em}


#date {
	background-color:snow;
	width:200px;
}

#show {
	background: url(../images/blackGlass/glass_button_rect_34x30px_calendar.png);
	width:34px;
	height:30px;
	border:0;
	vertical-align:50%;
}


/* (Scriptaculous) Zoom Level Slider Styles */
.sliderTrack {
	position: absolute;
	left:26px;
	top:63px;
	height:209px;
	width:6px;
	background: url(../images/blackGlass/glass_slider_trough_vertical_white.png) repeat-y;
	text-align:center;
	z-index:10000;
	}
				
.sliderHandle {
	/*width:24px;
	height:10px;*/
	left:-8px;
	width:21px;
	height:12px;
	background:url(../images/blackGlass/glass_slider_handle_white.png);
	cursor:pointer;
	z-index:4;
	text-align:center;
	font-weight:bold;
	z-index:10000;
}

.sliderMinus, .sliderPlus {
	background: url(../images/blackGlass/glass_button_square_24px_white.png);
	position: absolute;
	color:white;
	left:16px;
	cursor:pointer;
	width:24px;
	height:24px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	z-index:10000;
}

.sliderMinus {top:272px;}
.sliderPlus  {top:39px;}


#timeBackBtn {
	background: url(../images/blackGlass/glass_button_rect_34x30px_arrow_left_shadow.png);
	width:64px;
	height:60px;
	border:0;
}

#timeForwardBtn {
	background: url(../images/blackGlass/glass_button_rect_34x30px_arrow_right_shadow.png);
	width:64px;
	height:60px;
	border:0;
}

/* Text-related */
a.gray {
	text-decoration:none;
	font-weight:bold;
	color:#858585;
	}
a.gray:hover {
	border-top:1px solid #858585;
	border-bottom:1px solid #858585;
	}
a.lightGray {
	/*color:#F0F0F0;*/
	color:#E5E5E5;
	text-decoration:none;
	font-weight:bold;
}

    
