/* Time Navigation */
#timeBackBtn {
	background: url(../images/blackGlass/arrow_left.png);
	width:20px;
	height:17px;
	border:0;
	vertical-align: middle;
}

#timeForwardBtn {
	background: url(../images/blackGlass/arrow_right.png);
	width:20px;
	height:17px;
	border:0;
	vertical-align: middle;
}

.timestamp {font-size:0.8em; font-weight: normal; margin-left: 0px;}

.timeBehind {
	color: #FFFF66;
	font-weight: bold;
}

.timeAhead {
	color: #b2ff66;
	font-style: italic;	
}

.timeSignificantlyOff {
	font-weight: 500;
	color: #ff6666;
}