/* Time Navigation */
.timestamp {
	font-size:0.8em;
    font-weight: normal;
    margin-left: 0px;
    line-height: 2em;
    position: absolute;
    left: 138px;
}

.timeBehind {
	color: #FFFF66;
	font-weight: bold;
}

.timeAhead {
	color: #b2ff66;
	font-style: italic;	
}

.timeSignificantlyOff {
	font-weight: 500;
	color: #ff6666;
}

#timeBackBtn, #timeForwardBtn {
    cursor: pointer;
}
