/* Viewport */
#helioviewer-viewport-container-inner {width:100%; height:100%; position: relative; border: 1px solid black; top: 0px;}
#helioviewer-viewport-container-outer {
  height: 600px;
  background: transparent url('../images/blackGlass/transparentBG25.png') repeat scroll 0%;
  border:1px solid black;
  -moz-border-radius:25px;
}

.viewport {
	background-color: #000000;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 0;
	position:relative;
    width:100%;
    height:100%;
    cursor: pointer;
}

.movingContainer /* this is what actually moves */ {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
}

.tile
{
	border: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	overflow: visible;
}
