/* Viewport */
#helioviewer-viewport-container-inner {position: relative; border: 1px solid #262424;}
#helioviewer-viewport-container-outer {
  height: 600px;
  border:1px solid black;
  -moz-border-radius:25px;
}

#helioviewer-viewport {
	background-color: #000000;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 0;
	position:relative;
    width:100%;
    height:100%;
    cursor: pointer;
    left: 0px;
    top:0px;
}

/* this is what actually moves */
#moving-container {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
}

.tile
{
	border: 0px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	overflow: visible;
}

#fullscreen-btn {
    position: absolute;
    background: transparent url(../images/blackGlass/transparentBG50.png) repeat scroll 0 0;
    border-bottom:1px solid black;
    border-left: 1px solid black;
    top:0px;
    right: 0px;
    cursor: pointer;
}

#movie-button {
	position:absolute;
	background: transparent url(../images/blackGlass/transparentBG50.png) repeat scroll 0 0;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
